html *{
	margin: 0px;
	padding: 0px;
}
html body{
	width: 100%;
	height: 100%;
}
body{
	background-color: #EAEAEA;
}
html ul{
	list-style: none;
}
html input{
	outline: none;
	background: #EAEAEA;
	border: 1px solid #EAEAEA;
	padding: 10px;
	font-size: 16px;
	color: #666;
}
html input:hover,html input:focus,html textarea:hover,html textarea:focus{
	border: 1px solid #CCC;
}
html textarea{
	outline: none;
	background: #EAEAEA;
	border: 1px solid #EAEAEA;
	resize:none;
	padding: 10px;
}
.submit_btn{
	background: #333;
	border: none;
	cursor: pointer;
}
.submit_btn:hover{
	background: #000;
	border: none;
}
.cln{
	clear: both;
}
#header{
	width: 100%;
	height: 45px;
	background: #333;
	color: #EAEAEA;
}
.center_content{
	width: 960px;
	margin: 0px auto;
}
#logo{
	width: 140px;
	padding: 4px 0px;
	float: left;
}
#funlist1{
	width: 500px;
	height: 25px;
	line-height: 25px;
	padding: 10px 50px;
	float: left;
}
#funlist1 li{
	padding-left: 10px;
	float: left;
}
#funlist2{
	width: 220px;
	height: 25px;
	line-height: 25px;
	padding: 10px 0px;
	float: right;
}
#funlist2 li{
	padding-left: 10px;
	float: right;
}
#funlist1 li a,#funlist2 li a{
	text-decoration: none;
	color: #EAEAEA;
}

#activity_apply{
	width: 900px;
	height: 300px;
	padding: 30px;
	margin: 30px 0px;
	background: #fff;
}
.aa_title{
	font-size: 17px;
}
.apply{
	margin-top: 30px;
}
#base_info_link{
	width: 550px;
	height: 50px;
	float: left;
}
#base_info_link input{
	width: 400px;
	height: 20px;
}
#base_info_count{
	width: 175px;
	height: 50px;
	float: left;
}
#base_info_count input{
	width: 40px;
	height: 20px;
}
#base_info_price{
	width: 175px;
	height: 50px;
	float: left;
}
#base_info_price input{
	width: 40px;
	height: 20px;
}
#spec_info textarea{
	width: 790px;
	height: 80px;
	overflow: hidden;
	margin-left: 72px;
	margin-top: 10px;
}
#submit_choose{
	margin-top:20px;
}
#agreement{
	width: 300px;
	height: 30px;
	margin-left: 72px;
	line-height: 30px;
	float: left;
}
#agree_check{
	padding:0px;
}
#submit{
	float: right;
	margin-right: 16px;
}
#submit_btn{
	padding-left: 20px;
	padding-right: 20px;
	color: #EAEAEA;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

#recent_activity{
	width: 960px;
}
#recent_activity b{
	padding: 0px 20px;
	display: block;
	margin-bottom: 15px;
}
.recent_selected{
	background: #f9f9f9;
	border-radius: 5px;
}
.activity_item{
	width: 920px;
	padding: 15px 20px;
	height: auto;
}
.activity_item >ul{
	min-height: 20px;
	cursor: pointer;
}
.activity_item li{
	font-size: 14px;
	float: left;
}
.activity_name{
	width: 400px;
}
.old_price{
	width: 100px;
}
.activity_icon{
	width: 40px;
}
.new_price{
	width: 100px;
}
.activity_status{
	width: 100px;
}
.activity_time{
	width: 100px;
}
.activity_opt{
	width: 30px;
	margin-left: 30px;
}

.activity_detail{
	display: none;
}
.activity_detail li{
	float: left;
}
.activity_detail ul{
	padding: 15px;
}
.activity_intro{
	width: 300px;
	margin-right: 85px;
}
.activity_intro>img{
	margin-right: 10px;
}
.activity_verify{
	width: 200px;
}
.activity_verify input{
	width: 40px;
	height: 20px;
	padding: 4px 10px;
}
.verify_form{
	margin-top: 20px;
}
.activity_verify button{
	width: 80px;
	height: 30px;
	color: #EAEAEA;
	border: 1px solid #222;
	cursor: pointer;
}
.activity_history{
	margin-left: 30px;
}
.history_tip{
	padding:0px 10px;
	float: left;
}
.history_value{
	padding: 0px 10px;
	float: left;
}

#product_shows{
	width: 900px;
	height: 300px;
	background: #fff;
	margin: 30px 0px;
	padding: 30px;
}
#product_shows b{
	height: 30px;
	line-height: 30px;
	float: left;
}
.shows_title{
	height: 40px;
}
.shows_search{
	float: right;
}
.shows_search input{
	width: 300px;
	height: 20px;
	padding: 5px 10px;
	border-radius: 10px;
}
.shows_search select{
	background: #EAEAEA;
	border: 1px solid #CCC;
	height: 30px;
}
.product_list{
	margin-top: 20px;
}
.product_item{
	width: 200px;
	min-height: 230px;
	padding:2px;
	float: left;
	border: 1px solid #ddd;
	margin-right: 24px;
}
.product_item_last{
	margin-right: 0px;
	float: right;
}
.product_item_like{
	padding: 10px;
	width: 80px;
	float: left;
}
.product_item_price{
	padding: 10px;
	width: 80px;
	text-align: right;
	float: left;
}

#footer{
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 14px;
	color: #666;
}
.filing_info{
	float: left;
}
.other_info{
	float: right;
}

