<div id="category_group_info" style="display:none">
    {% for group in category_groups %}
        <div class="group_{{ group.id }}">
            <div>
                {% for category in group.category_list %}
                    <div class="category">
                        <div class="id">{{ category.id }}</div>
                        <div class="title">{{ category.title }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
<div id="category_available_phase_info" style="display:none">
    {% for category_id, phase_id_list in all_category_available_phases.items %}
        <div class="category_{{ category_id }}">
            {% for phase_id in phase_id_list %}
                <div>{{ phase_id }}</div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<script type="text/javascript">
    function initPhase(auto_check) {
        changeCategorySelection($('#category_id_selection').find('option:selected').val(), auto_check);
    };
    
    
    function changeGroupSelection(group_id, auto_check)
    {
        $('#category_id_selection').empty()
        var first  = true;
        $('#category_group_info .group_' + group_id + ' .category').each(function() {
            var cid = $(this).find('.id').text();
            var title = $(this).find('.title').text();
            if (first) {
                changeCategorySelection(cid, auto_check)  
                $('#category_id_selection').append('<option selected="selected" value="' + cid + '">' + title + '</option>');
            }
            else {
                $('#category_id_selection').append('<option value="' + cid + '">' + title + '</option>');
            }
            first = false;
        });
    }
    function changeCategorySelection(category_id, auto_check)
    {
        var apl = []
        $('#category_available_phase_info .category_' + category_id + ' div').each(function() {
            apl.push($(this).text()) 
        });
        $('#phase_id_check .phase_id').each(function() {
            if (apl.indexOf($(this).find("input").val()) == -1) {
                ele = $(this).find('input')[0].nextSibling;
                ele.nodeValue = ele.nodeValue.replace('*', '');
                if (auto_check) {
                    $(this).find('input').prop('checked', false);
                }
            }
            else {
                ele = $(this).find('input')[0].nextSibling;
                ele.nodeValue = ele.nodeValue.replace('*', '') + "*";
                if (auto_check) {
                    $(this).find('input').prop('checked', true);
                }
            }
        });
    };
    function loadSimilarEntity(taobao_id)
    {
        brand = $('#brand').val();
        cid = $('#category_id_selection').find('option:selected').val();
        data = {
            "brand" : brand,
            "category_id" : cid,
        }
        if (taobao_id != null) {
            data["taobao_id"] = taobao_id;
        }
        $.ajax({
            type : "GET",
            async : false,
            url : "/maria/entity/similar/",
            data : data, 
            success : function(res) {
                $('#similar_entity_board').html(res); 
            }
        });
    };
</script>
