{% load management %}
{% load common %}

<tr {% if entity_context.weight == -2 %} class=""
    {% elif entity_context.weight == -1 %} 
        {% if entity_context.creator_id == None %}class="info"{%else%}class="error"{%endif%}
    {% elif entity_context.weight == 0 %} class="warning"
    {% else %} class="success"
    {% endif %}
>

    <td width="90">
        {% if entity_context.taobao_id %}
        <a href="http://item.taobao.com/item.htm?id={{ entity_context.taobao_id }}" target="_blank">
        {% else %}
        <a href="http://item.jd.com/{{ entity_context.jd_id }}.html" target="_blank">
        {% endif %}
            <img class="img-polaroid" src="{{ entity_context.chief_image.url }}" style="max-height:80px;max-width:80px;">
        </a>
    </td>
    <td width="100"><p class="text-info">{{ entity_context.entity_id }}</p></td>
    <td width="100"><a href="{% url 'management_entity_list' %}?cid={{entity_context.category_id}}" target="_blank"><p class="text-info">{{ entity_context.category_title }}</p></a></td>
    <td width="100"><p class="text-info">{{ entity_context.brand }}</p></td>
    <td><p class="text-info">{{ entity_context.title }}</p></td>
    <td><p class="text-info">{{ entity_context.taobao_shop_nick }}</p></td>
    <td><p class="text-info">{%if entity_context.commission_type == 'unknown'%}{%else%}{%if entity_context.commission_type == 'general' %}通用{%else%}定向{%endif%}{%endif%}</p></td>
    <td><p class="text-info">{%if entity_context.commission_rate > 0 %}{{ entity_context.commission_rate }}{%endif%}</p></td>
    <td width="100"><p class="text-info">{{ entity_context.created_time|date_format }}</p></td>
    <td width="50"><p class="text-info">{{ entity_context.note_id_list|count }}</p></td>
    <td width="50"><p class="text-info">{{ entity_context.like_count }}</p></td>
    <td width="80"><p class="text-info">{{ entity_context.item_id_list|count }}</p></td>
    <td width="80">
        <div class="btn-group">
            {%if entity_context.taobao_id %}
                <a class="btn" href="{% url 'management_edit_entity' entity_context.entity_id %}" target="_blank">编</a>
                {% if entity_context.weight == -1 %}
                    <a class="btn recycle" href="{% url 'management_recycle_entity' entity_context.entity_id %}">剔</a>
                {% endif %}
            {% else %}
                <a class="btn" href="{% url 'management_edit_entity' entity_context.entity_id %}?source=jd" target="_blank">编</a>
                {% if entity_context.weight == -1 %}
                    <a class="btn recycle" href="{% url 'management_recycle_entity' entity_context.entity_id %}?source=jd">剔</a>
                {% endif %}
            {% endif %}
        </div>
    </td>
</tr>
