{% load common %} 
<div class="span9">
    {% for entity_context in entity_context_list %}
        {% if forloop.counter0|mod:4 = 0 %}
            <div class="row-fluid">
        {% endif %}
            <div class="span3">
                <a href="{% url maria_web.views.edit_entity entity_context.entity_id %}" target=_blank>
                    <img id="main-image" class="img-polaroid" src="{{ entity_context.image_url }}" alt="" style="max-width: 150px;max-height: 150px">
                </a>
                <h4>{{ entity_context.brand }}</h4>
                <p>{{ entity_context.title }}</p>
                {% if taobao_id %}
                    <p>
                        <form action="{% url maria_web.views.add_taobao_item_for_entity  entity_context.entity_id %}" method="POST">
                            <input class="input-xxlarge" type="hidden" id="taobao_id" name="taobao_id" value="{{ taobao_id }}" />
                            <button type="submit" class="btn">添加 >></button>
                        </form>
                    </p>
                {% endif %}
            </div>
        {% if forloop.counter0|mod:4 = 3 %}
            </div>
        {% endif %}
    {% endfor %}
</div>
