{% extends "base.html" %}
{% load i18n staticfiles %}
{% load entity user %}

{% block title %}
    {% if entity_context.brand|length != 0 %}
        {% block subtitle %}{{ entity_context.brand }} - {% endblock %}
    {% endif %}
    {{ entity_context.title }}
{% endblock %}
{#{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'styles/detail.css' %}">{% endblock %}#}
{#{% block keyword %}果库,{{ entity_context.category_id|trans_category }},{{ entity_context.title }}{% endblock %}#}
{% block keyword %}
    {% if entity_context.brand|length != 0 %}
        {{ entity_context.brand }},
    {% endif %}
    {{ entity_context.category_id|group_category }},
    {{ entity_context.category_id|trans_category }}
{% endblock %}

{% block description %}
    {{ entity_context.category_id|group_category }},
    {{ entity_context.category_id|trans_category }},
    {{ entity_context.title }}
    {% if entity_context.intro|length > 0 %}
    {{ entity_context.intro }}
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8" id="detail" itemscope itemtype="http://data-vocabulary.org/Product">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    {% if selection_note %}
                        <li><a href="{% url 'web_selection' %}">{% trans 'selection' %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'web_category' entity_context.category_id %}">{{ entity_context.category_id|trans_category }}</a></li>
                    <li class="active">{% if entity_context.brand|length != 0 %}{{ entity_context.brand }} - {% endif %}{{ entity_context.title }}</li>
                </ol>
                <div class="thumbnail">
                    <a href="http://item.taobao.com/item.htm?id={{ taobao_id }}">
                        <img itemprop="image"  src="{{ entity_context.chief_image.url|resize:'640' }}" alt="{{ entity_context.title }}">
                    </a>
                    <div class="caption">
                        <h3>{% if entity_context.brand|length != 0 %}
                            <span itemprop="brand">{{ entity_context.brand }}</span> - {% endif %}<span itemprop>{{ entity_context.title }}</span>
                        </h3>
                        <a class="btn btn-like" href="#">
                            {% trans 'likes' %}
                        </a>
                    </div>
                </div>

{#                <div class="row">#}
                <h4>相似推荐</h4>
                {% for entity_context in guess_entity_context %}
                    <div class="col-xs-6 col-sm-3">
                            <div class="thumbnail thumbnail-recommend">
                                <a class="recommend-box" href="{% url 'web_detail' entity_context.entity_hash %}" target="_blank">
                                    <img class="img-responsive" src="{{ entity_context.chief_image.url|resize:'240' }}" alt="">
                                </a>
                            </div>
                    </div>
                {% endfor %}

{#                </div>#}
            </div>

            <div class="col-sm-4 col-md-4" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
                {% include "main/partial/detail_side.html" %}
            </div>
        </div>
    </div>

{% endblock %}



{% block script %}
<script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "http://a.alimama.cn/tkapi.js";
            h.insertBefore(s, h.firstChild);
        }
        var o = {
            pid: "mm_28514026_4132785_24810648",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "21419640",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: ""/*自定义统计字段*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>

{% endblock %}
