{% extends "base.html" %}
{% load i18n staticfiles %}
{% load entity user %}

{% block title %}
    {% if entity_context.brand|length != 0 %}
        {% block subtitle %}{{ entity_context.brand }} - {% endblock %}
    {% endif %}
    {{ entity_context.title }}
{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'styles/detail.css' %}">{% endblock %}
{% block content %}
    <div id="detail">
        <div class="main">
            <div class="entity">
                <a href="#" class="entity-img">
                    <img src="{{ entity_context.chief_image.url|resize }}" alt="{{ entity_context.title }}">
                </a>
                <h2>{% if entity_context.brand|length != 0 %}{{ entity_context.brand }} - {% endif %}{{ entity_context.title }}</h2>

                <a href="{% url 'web_like_entity' entity_context.entity_id %}"
                   class="like{% if is_user_already_like %} liked{% endif %}">
                    <span class="icon"></span>
                    <span class="count">{{ entity_context.like_count }}</span>{% trans 'likes' %}
                </a>
                {% if selection_note != None %}
                    <div class="selection-note">
                        {% display_note_item selection_note %}
                    </div>
                {% endif %}
            </div>

            {% if selection_note != None and common_note_list|length > 0 %}
                <p class="note-count">还有 {{ common_note_list|length }} 条点评</p>
            {% endif %}

            <div class="notes">
                {% for note in common_note_list %}
                    {% display_note_item note %}
                    {% if common_note_list|length > forloop.counter %}<div class="sep"></div>{% endif  %}
                {% endfor %}
            </div>

            {# 判断有没有点评过 #}
            {% if user.is_authenticated  %}
                {% if not is_user_already_note %}
                    <div class="add-note">
                        <img src="{{ user_context.avatar_small }}" width="50" height="50">
                        <form action="{% url 'web.views.entity.add_note' entity_context.entity_id %}" method="POST">
                            <textarea name="note_text" placeholder="写点评 ＃贴标签"></textarea>
                            <div>
                                <button type="button" class="cancel">取消</button>
                                <button type="submit" class="submit">点评</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div class="aside">
            <div class="entity-info">
                <a href="" class="price">详情<span>&#65509;{{ entity_context.price }}</span></a>
                <div class="shop">来自于<a href="">url需替换</a></div>

                {% if entity_context.detail_images|length > 0 %}
                    <div class="detail-img">
                        <a href=""><img src="{{ entity_context.chief_image.url|resize:'64' }}"></a>
                        {% for img in entity_context.detail_images %}
                            <a href="javascript:;"><img src="{{ img.url|resize:'64' }}"></a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="likes">
                <h3>{{ entity_context.like_count }}人喜爱</h3>
                <div>
                    {% for liker, date in liker_list %}
                    <a href="{% url 'web_user_likes' liker %}">
{#                        <img src="{{ liker }}" height="25" width="25">#}
                        {% show_avater liker 25 %}
                    </a>
                    {% endfor %}
                </div>
            </div>

            <p class="category">[{{ entity_context.category_id|trans_category }}]</p>

            <div class="tag">
                <h3>该商品的标签</h3>
                <div>
                    <a href="">＃test</a>
                    <a href="">＃测试</a>
                </div>
            </div>

            <div class="share">
                <a href="">分享到微博</a>
            </div>

            <div class="download">
                <h3>下载果库客户端</h3>

                <div>
                    <a href="">iPhone</a> / <a href="">iPhone</a> / <a href="">iPhone</a>
                </div>
            </div>
        </div>

        <div class="recommend">
            <h2>相似推荐</h2>
            <div>
                <a href=""><img src=""></a>
                <a href=""><img src=""></a>
                <a href=""><img src=""></a>
                <a href=""><img src=""></a>
            </div>
        </div>
    </div>
{% endblock %}