{% extends "base.html" %}
{% load category %}

{% block title %}首页{% endblock %}
{% block keyword %}果库,精英消费指南,购物分享,淘宝网购物,淘宝网精选,精品推荐,果库福利,果库团购,品质生活{% endblock %}
{% block description %}果库，最实用的网络购物指南，每日优选与发现最有趣、有用、有价值的网购商品。帮助降低发现的成本，努力提升消费的质量。{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carousel-banner" class="carousel slide" data-ride="carousel" style="border:1px solid #eee;">
                    <ol class="carousel-indicators">
                        {% for banner in banners %}
                            {% if forloop.first %}
                            <li data-target="#carousel-banner" data-slide-to="{{ banner.banner_id }}" class="active"></li>
                            {% else %}
                            <li data-target="#carousel-banner" data-slide-to="{{ banner.banner_id }}"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                            {% for banner in banners %}
                                {% if forloop.first %}
                                <div class="item active">
                                    <a target="_blank" href="{{ banner.web_url }}"><img src="{{ banner.image }}" style="margin:0 auto;max-height:200px;"></a>
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                {% else %}
                                <div class="item">
                                    <a target="_blank" href="{{ banner.web_url }}"><img src="{{ banner.image }}" style="margin:0 auto;max-height:200px;"></a>
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                    </div>
                        <a class="left carousel-control" href="#carousel-banner" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-banner" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top: 40px;">
            <div class="col-xs-12 col-md-4">
                <p class="pull-left">热门品类</p>
                <a href="{% url 'web_kind' %}" target="_blank" class="pull-right" style="color:#bababa;">显示更多&#62</a>
            </div>
        <div>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="row">
                {% for category in home_category  %}
                    <div class="col-xs-4 col-md-2">
                        <div class="thumbnail category">
                            <a href="{% url 'web_category' category.category_id  %}">
                                <img src="{{ category.category_icon_large }}" width="60" height="60">
                                <p>{{ category.category_title|show_category }}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}