{% extends 'base.html' %}

{% block content %}
     <div class="container">
        <div class="row">
            <div id="carousel-banner" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for banner in banners %}
                        {% if forloop.first %}
                        <li data-target="#carousel-banner" data-slide-to="{{ banner.banner_id }}" class="active"></li>
                        {% else %}
                        <li data-target="#carousel-banner" data-slide-to="{{ banner.banner_id }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner" role="listbox">
                        {% for banner in banners %}
                            {% if forloop.first %}
                            <div class="item active">
                                <a target="_blank" href="{{ banner.url }}"><img src="{{ banner.image }}"></a>
                                <div class="carousel-caption">
                                </div>
                            </div>
                            {% else %}
                            <div class="item">
                                <a target="_blank" href="{{ banner.url }}"><img src="{{ banner.image }}"></a>
                                <div class="carousel-caption">
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                </div>
                    <a class="left carousel-control" href="#carousel-banner" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-banner" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
            </div>
        </div>

        {% for kind in kinds %}
        <div class="row">
            <div class="col-sm-12">
                {{ kind.title }}
            </div>
            {% for category in kind.content %}
                <div class="col-sm-2">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{{ category.category_icon_large }}">
                    </div>
                </div>
            {% endfor %}
{#                    <div class="thumbnail">#}
{#                        <img class="img-responsive" src="{{ kind.category_icon_large }}">#}
{#                    </div>#}
{#                </div>#}

        </div>
        {% endfor %}
     </div>
{% endblock %}