{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}热门{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'styles/popular.css' %}">{% endblock %}

{% block content %}
    <div class="guoku-block">
        <a href="">24 小时</a> | <a href="">7 天 </a> | <a href="">30 天</a>
        <span>最近更新：10 分钟前</span>
    </div>

    <ul class="guoku-block">
        <li>
            <a href=""><img src=""></a>
            <div>
                <a href=""><img src=""></a>
                <span></span>
                <span></span>
            </div>
            <div>
                <span></span><span></span>
            </div>
            <div>
                <a><img src=""></a>
            </div>
        </li>
    </ul>
{% endblock %}