{% extends "base.html" %}
{% load i18n staticfiles %}
{#{% load selection %}#}
{% load entity %}


{% block title %}
    精选新鲜, 与优质商品不期而遇
    {% block subtitle %}
        {% trans "selection" %}
        {% for category in category_list %}
            {% if category.category_id == curr_category_id %}
                - {{ category.category_title }}
            {% endif %}
        {% endfor %}
    {% endblock %}
{% endblock %}

{#{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'styles/selection.css' %}">{% endblock %}#}

{% block content %}
    {% if not user.is_authenticated %}
    <div class="jumbotron hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <img src="{% static 'images/brand.png' %}">
                </div>
                <div class="col-sm-6">
                    <h3 class="welcome">大开眼界的剁手指南，
                    <br>
                    一目了然的优质生活主张。 </h3>
                    <div class="row welcome-sign">
                        <div class="col-sm-3">
                            <a class="btn btn-primary btn-lg" type="button" href="{% url 'web_register' %}">注册帐号</a>
                        </div>
                        <div class="col-sm-9">
                            <div class="welcome-login">
                                <span>已有帐号，</span>
                                <a class="btn btn-link btn-lg" type="button" href="{% url 'web_login' %}?next={{ request.path }}" data-toggle="modal" data-target="#SignInModal">从这里登录</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row hidden-xs">
            <ul class="nav nav-pills nav-home" role="tablist">
                <li {% if curr_category_id == 0 %}role="presentation" class="disabled"{% endif %}><a href="{% url 'web_selection' %}">所有</a></li>
                {% for category in category_list %}
                    <li {% if category.category_id == curr_category_id %}role="presentation" class="disabled"{% endif %}>
                        <a href="{% url 'web_selection' %}?c={{ category.category_id }}">{{ category.category_title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row" id="selection">
            {% for selection in selection_list %}
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="thumbnail entity-selection">
                        <span class="timestr" name="{{ selection.note_context.post_time|date:"Y-m-d H:i:s" }}"></span>
                        <div class="img-box">
                            <a  href="{% url 'web_detail' selection.entity_context.entity_hash %}" target="_blank">
                                <img class="lazy img-responsive" alt="Headroom.js"  src="{{ selection.entity_context.chief_image.url|resize:'310' }}">
                            </a>
                        </div>

                        <div class="caption">
                            <p class="note">{{ selection.note_context.content|truncatechars:70 }}</p>
                        </div>
                        <div style="padding-left: 5px;padding-right: 5px;padding-bottom: 40px;">
                            <div class="pull-left">
                                <a class="btn btn-like" href="{% url 'web_like_entity' selection.entity_context.entity_id '1' %}" target="_blank">
                                    {% if selection.is_user_already_like %}
                                        <i class="fa fa-heart fa-lg"></i>
                                    {% else %}
                                        <i class="fa fa-heart-o fa-lg"></i>
                                    {% endif %}
                                    &nbsp;{% trans 'likes' %} <span class="like-count">{{ selection.entity_context.like_count }}</span>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-user" href="{% url 'web_user_index' selection.creator_context.user_id %}"  target="_blank">
                                    <p style="margin: 0;">
                                        <img class="img-circle" src="{{ selection.creator_context.avatar_small }}" width="30" height="30" >&nbsp; {{ selection.creator_context.nickname|truncatechars:10 }}
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if paginator %}
            {% include "common/web_selection_paginator.html" with paginator=paginator url=request.url cid=curr_category_id %}
        {% endif %}
    </div>
{% endblock %}
