{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" />
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/.min.css' %}" />
    {% block cssstyle %}{% endblock %}
    <title>果库后台</title>
</head>
<body style="padding-bottom:40px;padding-top:60px;">
    {% block navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="">Management</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            jakrinchose
                        </p>
                        <ul class="nav">
                            <li class="divider-vertical"></li>
                            <li{% if active_division == "entity" %} class="active"{%endif%}><a href="{% url 'management.views.entity_list' %}">Entity</a></li>
                            <li class="divider-vertical"></li>
                            <li{% if active_division == "category" %} class="active"{%endif%}><a href="{% url 'management.views.category_list' %}">Category</a></li>
                            <li class="divider-vertical"></li>
                            <li{% if active_division == "note" %} class="active"{%endif%}><a href="{% url 'management.views.note_list' %}">Note</a></li>
                            <li class="divider-vertical"></li>
                            <li{% if active_division == "banner" %} class="active"{%endif%}><a href="{% url 'management.views.banner_list' %}">Banner</a></li>
                            <li class="divider-vertical"></li>
                            <li{% if active_division == "user" %} class="active"{%endif%}><a href="{% url 'management.views.user_list' %}">User</a></li>
                            <li class="divider-vertical"></li>
                            <li{% if active_division == "report" %} class="active"{%endif%}><a href="{% url 'management.views.report_list' %}">Report</a></li>
                            <li class="divider-vertical"></li>
                        </ul>
                        <form class="navbar-form" action="{% url 'management.views.search_entity' %}" method="POST">
                            <input class="span2" type="text" placeholder="搜索分类/商品" id="query" name="query" class="form-control" />
                            <button type="submit" class="btn btn-success">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    
     
    <div class="container-fluid">
        <div class="row-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
    {% block js %}
        <script type="text/javascript" src="{% static 'management/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'management/js/misc.js' %}"></script>
        <script type="text/javascript" src="{% static 'management/js/date.format.js' %}"></script>
    {% endblock %}
    {% block extra %}
    {% endblock %}
</body>
</html>
