{% load i18n staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap-responsive.min.css' %}" />
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}" />
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'styles/jquery-ui-1.9.2.custom.css' %}" />
    {% block cssstyle %}{% endblock %}
    <title>果库后台</title>
</head>
<body style="padding-bottom:40px;padding-top:60px;">
    {% block navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="">Management</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
{#                            jakrinchose#}
                            {{ request.user }}
                        </p>
                        <ul class="nav">
                            <li class="divider-vertical"></li>
                            {% url 'management_entity_list' as entity_list_url %}
                            <li{% if entity_list_url in request.path %} class="active"{%endif%}><a href="{{ entity_list_url }}">Entity</a></li>
                            <li class="divider-vertical"></li>
                            {% url 'management_category_list' as category_list_url %}
                            <li{% if category_list_url in request.path %} class="active"{%endif%}><a href="{{ category_list_url }}">Category</a></li>
                            <li class="divider-vertical"></li>
                            {% url 'management_note_list' as note_list_url %}
                            <li{% if note_list_url in request.path %} class="active"{%endif%}><a href="{{ note_list_url }}">Note</a></li>
                            <li class="divider-vertical"></li>
                            {% url 'management_banner_list' as banner_list_url %}
                            <li{% if banner_list_url in request.path %} class="active"{%endif%}><a href="{{ banner_list_url }}">Banner</a></li>
                            <li class="divider-vertical"></li>
                            {% url 'management_user_list' as user_list_url %}
                            <li{% if user_list_url in request.path %} class="active"{%endif%}><a href="{{ user_list_url }}">User</a></li>
                            <li class="divider-vertical"></li>
                            {% url 'management_tag_list' as tag_list_url %}
                            <li{% if tag_list_url in request.path %} class="active"{%endif%}><a href="{{ tag_list_url }}">Tag</a></li>
                            <li class="divider-vertical"></li>
                            {% url 'management_report_list' as report_list_url %}
                            <li{% if report_list_url in request.path %} class="active"{%endif%}><a href="{{ report_list_url }}">Report</a></li>
                            <li class="divider-vertical"></li>
                            {% url 'management_ustation_list' as ustation_list %}
                            <li{% if ustation_list in request.path %} class="active" {% endif %}><a href="{{ ustation_list }}">UStation</a></li>
                            <li class="divider-vertical"></li>
                            {% url 'management_app_list' as app_list_url %}
                            <li{% if app_list_url in request.path %} class="active" {% endif %}><a href="{{ app_list_url }}">Publish</a></li>
                            {% url 'management_shop_list' as shop_list_url %}
                            <li{% if shop_list_url in request.path %} class="active" {% endif %}><a href="{{ shop_list_url }}">Shop</a></li>
                            <li class="divider-vertical"></li>
                        </ul>
{#                        <form class="navbar-form" action="{% url 'management.views.search_entity' %}" method="POST">#}
{#                            <input class="span2" type="text" placeholder="搜索分类/商品" id="query" name="query" class="form-control" />#}
{#                            <button type="submit" class="btn btn-success">Search</button>#}
{#                        </form>#}

                    </div>
{#                    <ul class="nav navbar-nav navbar-right">#}
{#                        <li><a href="#">{{ request.user }}</a></li>#}
{#                    </ul>#}
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="container-fluid">
        <div class="row-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
    {% block js %}
        <script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/jquery-ui-1.9.2.custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/misc.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/date.format.js' %}"></script>
    {% endblock %}
    {% block extra %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>
