{% extends "management_base.html" %}
{% load i18n %}
{% load common %}

{% block cssstyle %}
    <style>
    .stat-info {
        display: inline-block;
        margin-right: 20px;
    }
    img {
        max-width: 220px;
        max-height: 220px;
        margin-right: 30px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="well">
            <img id="main-image" class="img-polaroid" src="{{ user_context.avatar_large }}" alt="">

            <div class="stat-info stat-info-first"><span>关注: </span><span>{{ user_context.following_count }}</span>
            </div>
            <div class="stat-info"><span>关注者: </span><span>{{ user_context.fan_count }}</span></div>
            <div class="stat-info"><span>喜爱: </span><span>{{ user_context.like_count }}</span></div>
            <div class="stat-info"><span>标签: </span><span><a href="{%url 'management_tag_list'%}?user={{user_context.user_id}}">{{ user_context.tag_count }}</a></span></div>
            <div class="stat-info"><span>添加: </span><span>{{ user_context.entity_note_count }}</span></div>
            <div class="stat-info"><span>赞: </span><span>{{ user_context.entity_note_poke_count }}</span></div>
        </div>

        <form class="well form-horizontal" action="{% url 'management_edit_user' user_context.user_id %}"
              method="POST">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="user_id">用户ID:</label>
                    <div class="controls">
                        <input class="input-xxlarge" type="text" id="user_id" name="user_id"
                               value="{{ user_context.user_id }}" disabled/>
                    </div>
                </div>
                {% for field in forms %}
                    <div class="control-group {% if field.errors %}error{% endif %}">
                        <label class="control-label" for="id_for_label">{{ field.label }}:</label>
                        <div class="controls">
                            {{ field }}
                            {% if field.errors %}
                            <span class="help-inline">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "update" %}</button>
            </div>
        </form>
        <form class="well form-horizontal" action="{% url 'management_push_message_to_user' user_context.user_id %}" method="POST">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="badge">数字:</label>
                    <div class="controls">
                        <input class="input-xxlarge" type="text" id="badge" name="badge" value="1" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="message">消息文本:</label>
                    <div class="controls">
                        <input class="input-xxlarge" type="text" id="message" name="message" value="果库果库我爱你，就像老鼠爱大米！" />
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">推送</button>
            </div>
        </form>
    </div>
{% endblock %}

