{% load entity %}

<div class="common-note">
    <div class="entity">
        <div class="title" style="display: none">
            <h2>
            {% spaceless %}
                <a href="{% url 'web_detail' note.entity_context.entity_hash %}" target="_blank">
                    {% if note.entity_context.brand|length != 0 %}
                        {{ note.entity_context.brand }}
                        - {% endif %}{{ note.entity_context.title|truncatechars:20 }}</a>
            {% endspaceless %}
            </h2>
            <a class="timestr" name="{{ note.entity_context.updated_time|date:"Y-m-d H:i:s" }}"></a>
            <span class="price">&#65509;{{ note.entity_context.price }}</span>
        </div>

        <a href="{% url 'web_detail' note.entity_context.entity_hash %}" target="_blank" class="entity-img">
            <img src="{{ note.entity_context.chief_image.url|resize:'310' }}" alt="{{ note.entity_context.title }}">
        </a>
    </div>

    <div class="note">
        <p>{{ note.note_context.content|truncatechars:90 }}</p>
        {% if note.is_user_already_like %}
            <a href="{% url 'web_like_entity' note.entity_context.entity_id '0' %}" class="like liked">
        {% else %}
            <a href="{% url 'web_like_entity' note.entity_context.entity_id '1' %}" class="like">
        {% endif %}
            <span class="icon"></span>
            喜爱<span class="count"> {{ note.entity_context.like_count }}</span>
        </a>

        <div class="creator">
            <a href="{% url 'web_user_index' note.creator_context.user_id %}" class="avatar" target="_blank">
                <img src="{{ note.creator_context.avatar_small }}" width="30" height="30">
            </a>
            <a href="{% url 'web_user_index' note.creator_context.user_id %}" class="nickname" target="_blank">
                {{ note.creator_context.nickname|truncatechars:10 }}
            </a>
        </div>
    </div>
</div>
