<div class="account-form register border_hack" style="display: none">
    <div class="container">
        <div class="tip">
            <img src="/static/v3/images/signup.png" alt="欢迎加入果库">
        </div>
        <form action="{% url 'web_register' %}" method="POST">
            <input type="text" name="nickname" placeholder="昵称" class="text-input">
            <input type="text" name="email" placeholder="邮箱" class="text-input">
            <input type="password" name="password" placeholder="密码" class="text-input">
            <label class="agreement"><input type="checkbox" name="agreement">同意果库协议</label>

            <input type="submit" value="注册" class="submit">
        </form>
        <div class="to-login">已有帐号，
            <a href="{% url 'web_login' %}">请登录>></a>
        </div>
    </div>
</div>