   {% load entity %}


<div class="col-xs-6 col-sm-3 col-md-3">
<a  href="{% if user_id == None %}{% url 'web_tag_detail' tag_context.tag_hash %} {% else %}{% url 'web_user_tag_entity' user_id tag_context.tag_hash %}{% endif %}">
    <div class="thumbnail">
        <p style="padding:10px;margin-bottom: 0px;"><strong>#{{ tag_context.tag|truncatechars:'13' }}</strong></p>
        <div class="img-box">
        {% for entity_context in tag_context.entity_list %}
            <div class="col-xs-6 col-sm-6" style="padding:3px;">
                <div class="img-box">
                    <img class="img-responsive" src="{{ entity_context.chief_image.url|resize:"128" }}">
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="caption">
            <p><span>{{ tag_context.entity_count }}</span>&nbsp; 件商品</p>
        </div>
    </div>
</a>
</div>

