{% load entity %}
<div class="common-tag">
    <h4>#{{ tag_context.tag }}</h4>

    <div class="entities">
        {% for entity_context in tag_context.entity_list %}
            <a href="{% url 'web_tags' tag_context.tag_hash %}" class="entity-img" target="_blank">
                <img src="{{ entity_context.chief_image.url|resize:"128" }}">
            </a>
        {% endfor %}
    </div>
    <a href="{% url 'web_tags' tag_context.tag_hash %}" class="more" target="_blank">
        <span>{{ tag_context.entity_count }}</span>件商品
    </a>
</div>
