<div class="common-user">
    <a class="avatar" href="{% url 'web_user_index' user_context.user_id %}">
        <img src="{{ user_context.avatar_small }}" width="80" height="80">
    </a>
    <a href="{% url 'web_user_index' user_context.user_id %}" class="nickname">{{ user_context.nickname|truncatechars:10 }}</a>

    <div class="stat">
        <span><strong>{{ user_context.fan_count }}</strong>粉丝</span>
        <span class="follows"><strong>{{ user_context.following_count }}</strong>关注</span>
    </div>
    <div class="follow">
        {% if user_context.relation == 1 or user_context.relation == 3 %}
            <a href="{% url 'web_follow' user_context.user_id 0 %}" class="follow-user">取消关注</a>
        {% elif user_context.relation == 0 or user_context.relation == 2 %}
            <a href="{% url 'web_follow' user_context.user_id 1 %}" class="follow-user">关注</a>
        {% endif %}
    </div>

    <div class="avatars">
        {% for entity_context in user_context.latest_like_entities %}
            <a href="">
                <img src="{{ entity_context.chief_image.url }}" width="69" height="69">
            </a>
        {% endfor %}
    </div>
</div>
