{% extends "management_base.html" %}
{% load management %}

{% block content %}
    <div class="span2">
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
        <form class="form-search" method="POST" action="{% url 'management_add_shop' %}">
            <input type="text" class="input-medium search-query" name="shop_link">
            <button type="submit" class="btn">添加店铺首页URL</button>
        </form>   
        <form class="form-search" method="GET" action="{% url 'management_shop_list' %}">
            <input type="text" class="input-medium search-query" name="nick">
            <button type="submit" class="btn">查找店铺昵称</button>
        </form>   
        
        <form class="form-search" method="GET" action="{% url 'management_shop_list' %}">
            <label>排序</label>
            <select id="sorting" name="sort_by">
                <option value="created_time" {%if sort_by == "created_time" %} selected="selected" {% endif %}>创建时间</option>
                <option value="priority" {% if sort_by == "priority" %} selected="selected" {% endif %}>优先级</option>
                <option value="commission_rate"{%if sort_by == "commission_rate" %} selected="selected"{%endif%}>佣金</option>
            </select>
            升序<input type="radio" name="order" value="asc" {% if  not order or order == "asc" %} checked {%endif%}/>
            降序<input type="radio" name="order" value="desc" {% if order == "desc" %} checked {%endif%}/>
            <label>过滤</label>
            {% for gift in all_gifts %}
                {{ gift }} <input type="checkbox" name="gifts" value="{{ gift }}" {% if gift in gifts %} checked {%endif%}>
            {% endfor %}
            <button type="submit" class="btn">确定</button>
        </form>
    </div>
    <div class="span10">
        <div>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>佣金比率</th>
                </thead>
                <tbody>
                    {% for shop in shops %}
                    <tr>
                        
                        <td><a href="/scheduler/shop_detail/taobao/?sid={{ .ShopInfo.Sid }}">{{ shop.shop_info.nick }}</a></td>
                        <td>{{ shop.shop_info.title }} </td>
                        <td>{{ shop.crawler_info.priority }}</td>
                        <td>{{ shop.extended_info.commission_rate }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if paginator %}
        {% display_paginator paginator %}
    {% endif %}
{% endblock %}
