<div class="span12">
    <ul class="nav nav-tabs">
        <li {% if current_tab == "shops" %} class="active" {% endif %}>
            <a href="{% url 'management_shop_list' %}">店铺列表</a>
        </li>
        <li {% if current_tab == "guoku_plus"%} class="active" {% endif %}>
            <a href="{% url 'management_guokuplus_list' %}">果库+</a>
        </li>
        <li {% if current_tab == "shop_verification"%} class="active" {% endif %}>
            <a href="{% url 'management_shop_verification_list' %}">店铺认证申请</a>
        </li>
    </ul>
</div>
