Django==1.5.5
Fabric==1.8.1
MySQL-python==1.2.4
PIL==1.1.7
Twisted==13.2.0
Wand==0.3.5
admin-tools-zinnia==0.1.dev
amqp==1.3.3
anyjson==0.3.3
beautifulsoup4==4.3.2
billiard==3.3.0.13
celery==3.1.7
django-admin-tools==0.5.1
django-app-namespace-template-loader==0.1
django-appconf==0.6
django-blog-zinnia==0.13
django-celery==3.0.0
django-debug-toolbar==1.0
django-filebrowser==3.5.2
django-grappelli==2.5.1
django-mptt==0.6.0
django-redis-cache==0.10.1
django-redis-sessions==0.4.0
django-sphinx==2.2.4
django-staticfiles==1.2.1
django-tagging==0.3.1
django-tinymce==1.5.2
django-xmlrpc==0.1.5
ecdsa==0.10
feedparser==5.1.3
greenlet==0.4.2
gunicorn==18.0
hiredis==0.1.1
ipdb==0.8
ipython==1.1.0
kombu==3.0.8
mongoengine==0.8.6
paramiko==1.12.0
psd-tools==0.9
pyOpenSSL==0.13.1
pyapns==0.4.0
pyasn1==0.1.7
pycrypto==2.6.1
pyenchant==1.6.5
pymogile==2.0.2
pymongo==2.6.3
pyparsing==2.0.1
pytz==2013.8
redis==2.8.0
scp==0.7.1
sinaweibopy==1.1.3
six==1.4.1
sqlparse==0.1.10
wsgiref==0.1.2
zinnia-threaded-comments==0.2
zope.interface==4.0.5
