{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <title>果库 - {% block  title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/account.css' %}">
    </head>
    
    <body id="account">
        <div class="main">
            <div class="container clearfix">
                {% block form %}{% endblock %}
            </div>
        
{#           {% block third_party_login %}#}
{#            <div class="third-party">#}
{#                <div>#}
{#                    <h2>第三方帐号登录</h2>#}
{#                    <a href="{% url 'web_login_by_sina' %}">新浪微博</a>#}
{#                    <a href="{% url 'web_login_by_taobao' %}">淘宝</a>#}
{#                </div>#}
{#            </div>#}
{#            {% endblock %}#}
        </div>
        
        <script src="{% static 'scripts/jquery.min.js' %}"></script>
        <script src="{% static 'scripts/login.js' %}"></script>
    </body>
</html>
