{% extends "base.html" %}
{% load i18n staticfiles %}
{% load account %}

{% block title %}忘记密码{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>重新设置密码</h2>
            <hr />

            <div class="col-sm-offset-2 col-sm-8">
            <form class="form-horizontal" action="{% url 'web_forget_passwd' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">注册邮箱</label>
                        <div class="col-sm-6">
                            <input class="form-control" name="email" type="email" placeholder="{% trans 'email' %}" />
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button class="btn btn-primary" type="submit">发送邮件</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
{#	<p class="forget_tip">重新设置密码</p>#}
{#    <div sd="{% url 'web_forget_passwd' %}" class="password">#}
{#        {% csrf_token %}#}
{#        <div class="row">#}
{#            <span class="forget_email_tip">注册邮箱</span><input name="email" type="text" class="forget_input regist_email" />#}
{#            <span class="forget_input_tip"></span>#}
{#            <br>#}
{#            <button class="btn btn-disabled btn-forget" send-status="0" disabled="true" id="forget_sendmail">发送邮件</button>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

