{% extends "base.html" %}
{% load i18n staticfiles %}
{% load account %}

{% block title %}忘记密码{% endblock %}

{% block content %}
	<p class="forget_tip">重新设置密码</p>
    <form method="POST" action="{% url 'web_forget_passwd' %}" class="password">
        {% csrf_token %}
        <div class="row">
            <span class="forget_email_tip">注册邮箱</span><input type="text" class="forget_input" /><span class="forget_input_tip">该邮箱尚未注册，<a href="">点此注册</a></span>
            <br>
            <input type="submit" value="发送邮件" class="btn btn-disabled btn-forget" disabled="true">
        </div>
    </form>
{% endblock %}

