{% extends "base.html" %}
{% load i18n staticfiles %}
{% load account %}

{% block title %}忘记密码{% endblock %}

{% block content %}
	<p class="forget_tip">重新设置密码</p>
    <div sd="{% url 'web_forget_passwd' %}" class="password">
        {% csrf_token %}
        <div class="row">
            <span class="forget_email_tip">注册邮箱</span><input name="email" type="text" class="forget_input" />
            <span class="forget_input_tip"></span>
            <br>
            <button class="btn btn-disabled btn-forget" disabled="true" id="forget_sendmail">发送邮件</button>
        </div>
    </div>
{% endblock %}

