{% extends "account/account_base.html" %}
{% load i18n %}

{% block title %}{% trans "sign in" %}{% endblock %}
{% block form %}
    <div class="account-form login">
        <div class="form_container">
            <div class="tip">
                <img src="/static/v3/images/signin.png"  alt="欢迎回来">
            </div>
            {% if forms.errors %}
            <div class="error-message">
                {% for field in forms %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            <form action="{% url "web_login" %}" method="POST">
                {% csrf_token %}
                {% for field in forms %}
                    {{ field }}
                {% endfor %}
                <div class="remember">
                    <label><input type="checkbox" name="remember_me">记住我</label>
                    <a href="{% url 'web_forget_passwd' %}">忘记密码?</a>
                </div>
                <input type="submit" value="登录" class="submit_disabled" disabled="true">
            </form>

            <div class="third-party">
                <a href="{% url 'web_login_by_sina' %}" class="weibo"></a>
                <a href="{% url 'web_login_by_taobao' %}" class="taobao"></a>
            </div>
            <div class="to-reg"><a href="{% url 'web_register' %}">注册帐号 >></a></div>
        </div>
    </div>
{% endblock %}
