{% extends "base.html" %}
{% load i18n staticfiles %}
{% load entity user %}

{% block title %}
    {{ .nickname|default:'我的果库' }}
    {% block subtitle %}{% endblock %}
{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'styles/message.css' %}">{% endblock %}
{% block content %}
	<div id="message">
		<div id="message_list">
		{% for message in message_list %}
			{% if message.type = 'user_follow' %}
				<div class="message_item user_follow_message">
					<div class="message_left">
						<div class="message_icon"></div>
					</div>
					<div class="message_right">
						<div class="message_text">
							<a href="/u/{{ message.content.follower.user_id}}">{{ message.content.follower.nickname }}</a>开始关注了你
						</div>
						<div class="message_time">
							{{ message.created_time|date:'Y-m-d H:i:s' }}
						</div>
					</div>
					<div class="clear"></div>
				</div>
			{% elif message.type == 'note_poke_message'%}
				<div class="message_item note_poke_message">
					<div class="message_left">
						<div class="message_icon"></div>
					</div>
					<div class="message_right">
						<div class="message_text">
							<div class="note_poke_text">你的点评收到一个赞</div>
							<div class="note_content">{{ message.content.note.content }}</div>
						</div>
						<div class="message_time">{{ message.created_time|date:'Y-m-d H:i:s' }}</div>
					</div>
					<div class="clear"></div>
				</div>
			{% elif message.type == 'note_comment_message' %}
				<div class="message_item note_comment_message">
					<div class="message_left">
						<div class="message_icon"></div>
					</div>
					<div class="message_right">
						<div class="message_text">
							<div class="note_comment_text"><a href="/u/{{ message.content.follower.user_id}}">{{ message.content.comment_user.nickname }}</a>回复了你的点评</div>
							<div class="comment_content">{{ message.content.note.content }}</div>
						</div>
						<div class="message_time">{{ message.created_time|date:'Y-m-d H:i:s' }}</div>
					</div>
					<div class="clear"></div>
				</div>
			{% elif message.type = 'note_comment_reply_message' %}
				<div class="message_item note_comment_reply_message">
					<div class="message_left">
						<div class="message_icon"></div>
					</div>
					<div class="message_right">
						<div class="message_text">
							<div class="note_comment_text"><a href="/u/{{ message.content.follower.user_id}}">{{ message.content.comment_user.nickname }}</a>回复了你的点评</div>
							<div class="comment_content">"{{ message.content.note.content }}"</div>
						</div>
						<div class="message_time">{{ message.created_time|date:'Y-m-d H:i:s' }}</div>
					</div>
					<div class="clear"></div>
				</div>
			{% elif message.type = 'entity_like_message' %}
				<div class="message_item entity_like_message">
					<div class="message_left">
						<div class="message_icon"></div>
					</div>
					<div class="message_right">
						<div class="message_text">
							你的商品被喜爱了
						</div>
						<div class="message_time">{{ message.created_time|date:'Y-m-d H:i:s' }}</div>
					</div>
					<div class="clear"></div>
				</div>
			{% elif message.type = 'entity_note_message' %}
				<div class="message_item note_comment_reply_message">
					<div class="message_left">
						<div class="message_icon"></div>
					</div>
					<div class="message_right">
						<div class="message_text">
							<div class="note_comment_text"><a href="/u/{{ message.content.follower.user_id}}">{{ message.content.comment_user.nickname }}</a>评论了你的商品</div>
							<div class="comment_content">"{{ message.content.note.content }}"</div>
						</div>
						<div class="message_time">{{ message.created_time|date:'Y-m-d H:i:s' }}</div>
					</div>
					<div class="clear"></div>
				</div>
			{% elif message.type = 'note_selection_message' %}
				<div class="message_item note_comment_reply_message">
					<div class="message_left">
						<div class="message_icon"></div>
					</div>
					<div class="message_right">
						<div class="message_text">
							<div class="note_comment_text"><a href="/u/{{ message.content.follower.user_id}}">{{ message.content.comment_user.nickname }}</a>评论了你的商品</div>
							<div class="comment_content">"{{ message.content.note.content }}"</div>
						</div>
						<div class="message_time">{{ message.created_time|date:'Y-m-d H:i:s' }}</div>
					</div>
					<div class="clear"></div>
				</div>
			{% endif %}
		{% endfor %}
<!--			<div class="message_item user_follow_message">
				<div class="message_left">
					<div class="message_icon"></div>
				</div>
				<div class="message_right">
					<div class="message_text">
						<a>卷心菜</a>开始关注了你
					</div>
					<div class="message_time">
						2014.06.8
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="message_item note_poke_message">
				<div class="message_left">
					<div class="message_icon"></div>
				</div>
				<div class="message_right">
					<div class="message_text">
						<div class="note_poke_text">你的点评收到一个赞</div>
						<div class="note_content">"你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞"</div>
					</div>
					<div class="message_time">2014.09.09</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="message_item note_comment_message">
				<div class="message_left">
					<div class="message_icon"></div>
				</div>
				<div class="message_right">
					<div class="message_text">
						<div class="note_comment_text"><a>卷心菜</a>回复了你的点评</div>
						<div class="comment_content">"你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞"</div>
					</div>
					<div class="message_time">2014.09.09</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="message_item note_comment_reply_message">
				<div class="message_left">
					<div class="message_icon"></div>
				</div>
				<div class="message_right">
					<div class="message_text">
						<div class="note_comment_text"><a>卷心菜</a>回复了你的点评</div>
						<div class="comment_content">"你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞"</div>
					</div>
					<div class="message_time">2014.09.09</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="message_item entity_like_message">
				<div class="message_left">
					<div class="message_icon"></div>
				</div>
				<div class="message_right">
					<div class="message_text">
						你的商品被喜爱了
					</div>
					<div class="message_time">2014.09.09</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="message_item entity_note_message">
				<div class="message_left">
					<div class="message_icon"></div>
				</div>
				<div class="message_right">
					<div class="message_text">
						<div class="note_comment_text"><a>卷心菜</a>评论了你的商品</div>
						<div class="comment_content">"你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞"</div>
					</div>
					<div class="message_time">2014.09.09</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="message_item note_selection_message">
				<div class="message_left">
					<div class="message_icon"></div>
				</div>
				<div class="message_right">
					<div class="message_text">
						<div class="note_comment_text"><a>卷心菜</a>评论了你的商品</div>
						<div class="comment_content">"你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞你的点评收到一个赞"</div>
					</div>
					<div class="message_time">2014.09.09</div>
				</div>
				<div class="clear"></div>
			</div>-->
		</div>
		<div id="message_side">
			<div class="suggest_user">
				<div class="suggest_user_title">推荐关注</div>
				<ul>
					{% for user in popular_list %}
						{% if forloop.counter < 6 %}
						<li>
							<div class="suggest_user_img">
								<img src="{{ user.user_context.avatar_large }}">
							</div>
							<div class="suggest_user_info">
								<div class="suggest_user_nicename">
									<a href="/u/{{ user.user_id}}">{{ user.user_context.nickname }}</a>
								</div>
								<div class="suggest_user_tip">casdcasdc</div>
							</div>
							<div class="suggest_follow">
								{% if user.relation == 4 %}
					                <a class="setting" href="{% url 'web_setting' %}"><span class="setting-icon"></span><span class="setting-tip">{% trans "settings" %}</span></a>
					            {% elif user.relation == 3 %}
					                <a href="/u/14/follow/0/" class="follow-user is-fan gray-f"><span class="img_is_fun"></span><b>取消关注</b></a>
					            {% elif user.relation == 1 %}
					                <a href="/u/14/follow/0/" class="follow-user gray-f"><span class="img_not_fun"></span><b>取消关注</b></a>
					            {% elif relation == 2 %}
					                <a href="/u/14/follow/1/" class="follow-user is-fan blue-f"><span src="" class="img_follow"></span><b>关注</b></a>
					            {% elif user.relation == 0 %}
					                <a href="/u/14/follow/1/" class="follow-user blue-f"><span class="img_follow"></span><b>关注</b></a>
					            {% endif %}
							</div>
							<div class="clear"></div>
						</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="download">
				<h3>下载果库客户端</h3>
				<div>
				    <a href="/download/ios/" target="_blank">iPhone</a> /
				    <a href="/download/ios/" target="_blank">iPad</a> /
				    <a href="http://app.guoku.com/download/android/guoku-release.apk" target="_blank">Android</a>
				</div>
			</div>
			<div class="hot_tags">
				<h3>热门标签</h3>
				<ul>
				{% for tags in recommend_tag_list %}
					{% if forloop.counter < 6 %}
					<li><a href="/t/{{ tags.2}}"># {{ tags.1 }}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}