{% extends "blank_base.html" %}

{% block body %}
    <div class="main" style="height: 315px">
        <div class="register clearfix">
            <a href="{% url 'web.views.main.selection' %}"><img src="{{ STATIC_URL }}web/images/guoku_icon_56.png"></a>

            <form action="{% url 'web.views.account.register' %}" method="POST">
                {% csrf_token %}

                <h2>注册帐号</h2> | 已有帐号？<a href="{% url 'web.views.account.login' %}">请登录</a>

                <div>
                    <input type="text" name="nickname" class="text-input" placeholder="昵称" id="nickname">
                    {% if nickname_error != None %}<span class="error-info">{{ nickname_error }}</span>{% endif %}
                </div>
                <div>
                    <input type="text" name="email" class="text-input" placeholder="邮箱" id="email">
                    {% if email_error != None %}<span class="error-info">{{ email_error }}</span>{% endif %}
                </div>
                <div>
                    <input type="password" name="password" class="text-input" placeholder="密码" id="password">
                    {% if password_error != None %}<span class="error-info">{{ password_error }}</span>{% endif %}
                </div>
                <div>
                    <label><input type="checkbox" name="agreement" checked id="agreement">同意果库</label>
                    <small><a href="">使用协议</a></small>
                    <input type="submit" value="登录" class="guoku-button">
                </div>
            </form>
        </div>

        <div class="third-party">
            <div>
                <h2>第三方帐号登录</h2>
                <a href="{% url 'web.views.account.login_by_sina' %}">新浪微博</a>
                <a href="{% url 'web.views.account.login_by_taobao' %}">淘宝</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}web/scripts/user.js"></script>=
{% endblock %}