{% extends "base.html" %}
{% load i18n staticfiles %}
{% load account %}

{% block title %}完善信息 - 果库{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/account.css' %}">
{% endblock %}

{% block content %}
    <div id="setting">
        <h2>帐号设置</h2>

        <div class="guoku-block">
            {% display_avatar_update user_context %}
            
            <form method="POST" action="" class="base-info">
                {% csrf_token %}
                {{ wizard.management_form }}
                <h3>个人资料</h3>
                {{ wizard.form.errors }}
                <div>
                    <label for="bio">{% trans 'bio' %}</label>
                    {#<textarea name="bio" id="bio" class="text-input" rows="4">{{ user_context.bio }}</textarea>#}
                    {{ wizard.form.bio }}
                </div>

                <div class="address">
                    <span class="label">所在地</span>
                    {{ wizard.form.location }}
                    {{ wizard.form.city }}
                </div>

                <div class="gender">
                    <span class="label">性别</span>
                    {% for radio in wizard.form.gender %}
                        <label> {{ radio.choice_label }} {{radio.tag }}</label>
                    {% endfor %}
                </div>

                <div>
                    <label for="website">网址</label>
                    {{ wizard.form.website }}
                </div>

                <input type="submit" value="完成" class="guoku-button">
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'scripts/account.js' %}"></script>
{% endblock %}
