{% extends "base.html" %}
{% load i18n staticfiles %}
{% load account %}

{% block title %}忘记密码{% endblock %}

{% block content %}
    <p class="forget_tip">重置密码</p>
    <form method="POST" action="{% url 'web_reset_password' %}" class="password">
        {% csrf_token %}
        <div class="row">
            <input type="hidden" name="token" value="{{ token }}">
            <span class="forget_email_tip">输入新密码</span><input id="passowrd" name="password" type="password" class="forget_input" />
            <br>
            <input type="submit" value="确定" class="btn btn-disabled btn-forget" disabled="true">
        </div>
    </form>
{% endblock %}

