{% extends "base.html" %}
{% load i18n staticfiles %}
{% load account %}

{% block title %}{% trans "settings" %}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/account.css' %}">
{% endblock %}

{% block content %}
    <div id="setting">
        {% if msg_code != None %}
            <div class="information">
                {% if msg_code == '0' %}
                    未上传图片
                {% elif msg_code == '1' %}
                    图片太大
                {% endif %}
            </div>
        {% endif %}

        <h2>帐号设置</h2>

        <div class="guoku-block">
            {% display_avatar_update user_context %}
            <form method="POST" action="{% url 'web_update_profile' %}" class="base-info" id="set-base-info">
                {% csrf_token %}
                <h3>个人资料</h3>
                <div>
                    <label for="{{ profile_form.nickname.id_for_label }}">{{ profile_form.nickname.label }}</label>
                    {{ profile_form.nickname }}
                </div>

                <div>
                    <label for="{{ profile_form.email.id_for_label }}">{{ profile_form.email.label }}</label>
                    {{ profile_form.email }}
                </div>

                <div>
                    <label for="{{ profile_form.bio.id_for_label }}">{{ profile_form.bio.label }}</label>
                    {{ profile_form.bio }}
                </div>
                <div style="display: none;"> 
                    <p id="default_location_value">{{ profile_form.location.value }}</p>
                    <p id="default_city_value">{{ profile_form.city.value }}</p>
                </div>
                <div class="address">
                    <span class="label">{{ profile_form.location.label }}</span>
                    {{ profile_form.location }}
                    {{ profile_form.city }}
                </div>

                <div class="gender">
                    <span class="label">{{ profile_form.gender.label }}</span>
                    {% for radio in profile_form.gender %}
                        {{ radio }}
                    {% endfor %}
                </div>

                <div>
                    <label for="{{ profile_form.website.id_for_label }}">{{ profile_form.website.label }}</label>
                    {{ profile_form.website }}
                </div>
                <input type="submit" value="{% trans "update profile" %}" class="guoku-button">
            </form>
            
            <div class="bind">
                <span class="label">新浪微博</span>
                {% if user_context.sina_screen_name %}
                    {{ user_context.sina_screen_name }}
                {% else %}
                <a href="{%url 'web_bind_sina'%}?next={%url "web_setting" %}">绑定新浪微博</a>
                {% endif %}
            </div>
            <div class="bind">
                <span class="label">淘宝网</span>
                {% if user_context.taobao_nick %}
                    {{ user_context.taobao_nick }}
                {% else %}
                <a href="{%url 'web_bind_taobao' %}?next={%url "web_setting"%}">绑定淘宝网</a>
                {% endif %}
            </div>

            <form method="POST" action="{% url 'web_change_password' %}" class="psw">
                {% csrf_token %}
                <h3>更改密码</h3>

                <div>
                    {{ password_form.old_password }}
                </div>

                <div>
                    {{ password_form.new_password }}
                </div>

                <div>
                    {{ password_form.confirm_password }}
                </div>
                <input type="submit" value="修改密码" class="guoku-button">
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'scripts/account.js' %}"></script>
{% endblock %}
