{% load i18n %}
{#{% load web_common %}#}

{% spaceless %}
<div class="row clearfix">
    <ul class="pager">
{#    {% if cid == 0 %}#}
        {% if paginator.has_previous %}
            <li><a href="{{ url }}?p={{ paginator.previous_page_number }}">上一页</a></li>
        {% endif %}
        <li><a href="{{ url }}?p={{ paginator.next_page_number }}">下一页</a></li>
{#    {% else %}#}
{#        {% if paginator.has_previous %}#}
{#            <li><a href="{{ url }}?p={{ paginator.previous_page_number }}">上一页</a></li>#}
{#        {% endif %}#}
{#        <li><a href="{{ url }}?p={{ paginator.next_page_number }}">下一页</a></li>#}
{#    {% endif %}#}
    </ul>
</div>
{% endspaceless %}