{% extends 'base.html' %}
{% load i18n staticfiles %}


{% block title %}双十一专题{% endblock %}
{% block keyword %}果库专题,双十一,双十二,打折促销,福利优惠,抽奖免费送,淘宝网购物,淘宝网精选专辑{% endblock %}
{% block description %}果库专题，超实用的网络购物专辑，发现好物更便捷，闪购商品更迅速。品质生活，你值得拥有。{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'owl-carousel/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'owl-carousel/owl.theme.css' %}">
<style>
#owl .item{
  margin: 3px;
}
#owl .item img{
  display: block;
  width: 100%;
  height: auto;
}
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-home" role="tablist">
                    <li>专题</li>
                    <li>｜</li>
                    <li>双十一值得买</li>
                </ul>
            </div>
        </div>

    <div class="row">
        <div class="col-md-12" style="overflow: hidden;">
            <div id="owl" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        {% for show in show_event_banners %}
                                <div class="item"><a href="{{ show.banner.link }}" target="_blank"><img src="{{ show.banner.image_url }}" alt=""></a></div>
                        {% endfor %}
            </div>
        </div>
    </div>
       <div class="row" style="display:none;">
            <div class="col-md-12">
                <div id="carousel-guoku" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for show in show_event_banners %}
                            <li data-target="#carousel-guoku" data-slide-to="{{ show.pk }}" {% if 1 == show.pk %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {% for show in show_event_banners %}
                            <div class="item {% if 1 == show.pk %}active{% endif %}">
                                <a target="_blank" href="{{ show.banner.link }}"><img src="{{ show.banner.image_url }}"></a>
                                <div class="carousel-caption">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-guoku" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-guoku" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
       </div>

        <div class="row" style="margin-top: 40px;">
            <div class="col-md-12">
                <p class="pull-left">编辑推荐</p>
            </div>
        </div>

        <div class="row" >
            {% for show_editor in show_editor_recommendations %}
                <div class="col-xs-6 col-sm-6">
                    <div class="thumbnail">
                        <a target="_blank" href="{{ show_editor.recommendation.link }}">
                            <img class="img-responsive" src="{{ show_editor.recommendation.image_url }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="pull-left">精选商品</p>
            </div>
        </div>

        <div class="row" id="event">
            {% include "main/partial/selection_item_list.html" with selection_list=selection_list %}
        </div>
        <div class="row hidden-xs">
            <div class="col-sm-offset-12">
                <a class="btn-top" href="javascript:;"  title="回到顶部" target="_self"><i class="fa fa-angle-up fa-lg"></i></a>
            </div>
        </div>

        {% if paginator %}
            {% include "events/event_paginator.html" with paginator=paginator url=request.url  %}
        {% endif %}

    </div>
{% endblock %}


{% block script %}
<script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $("#owl").owlCarousel({
                autoPlay: 3000, //Set AutoPlay to 3 seconds
                  items : 1,
                  itemsDesktop : [1199,3],
                  itemsDesktopSmall : [979,3]       
              });
        });
    </script>
{% endblock %}


