{% extends 'events/home.html' %}
{% load i18n static %}

{% block bg %}
<div class="row" style="margin-bottom:20px;margin-top:-60px;">
    <div class="col-sm-12" style="background: #FFFFFF url({% static 'images/event/1225-bg.jpg' %}) repeat-x scroll top;height:auto;">

	  	<a href="#" data-toggle="modal" data-target="#shareModal" > <img class="img-responsive" src="{% static 'images/event/1225-banner.png' %}" style=" margin:40px auto 0px auto;"></a>
	  	<!-- Modal -->
		<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		       		<a class="btn btn-default btn-weibo" href="http://service.weibo.com/share/share.php?url=http://www.guoku.com/event/20141225/&type=3&count=0&appkey=1459383851&title=#果库圣诞High翻天# 圣诞最浪漫的事，莫过于在交杯换盏后，为 Ta 在果库上下了一单！&pic=http://static.guoku.com/static/v3/images/event/1225-weibo-share.png&ralateUid=2179686555" target="_blank"><img class="img-responsive" src="{% static 'images/event/1225-popup.jpg' %}"></a>
		        				    
		      </div>
		    </div>
		  </div>
		</div>

    </div>
</div>
{% endblock %}

{% block tag %}

{% endblock %}

{% block script %}
<script src="{% static 'js/snowfall.jquery.min.js' %}"></script>
<script type='text/javascript'>     
    $(document).ready(function(){
        $(document).snowfall({shadow : false, round : true,  minSize: 5, maxSize:8,flakeCount : 250}); 
    });
</script>
{% endblock %}