{% extends 'base.html' %}

{% block title %}完成{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="text-align:center;">
        	<div>
	                <img class="img-responsive" src="{% static 'images/event/line.png' %}" style="display:inline-block;">
	               	<h2>恭喜您，领取成功。</h2>
	                <img src="{{ hongbao.qrcode }}">
	                <h4>扫描二维码，既得1212购物券。</h4>
	                <br>
	                <h5 style="margin:0px;">1212万能盛典消费者参见</h5>
	                <p><a href="http://www.taobao.com/go/market/2014/1212/rules.php" target="_blank" style="color:red;">http://www.taobao.com/go/market/2014/1212/rules.php</a></p>
        	</div>
        </div>
    </div>
{% endblock %}