{% extends 'base.html' %}
{% load i18n static %}


{% block content %}
    <div class="container">
        <div class="row">
        	<div class="col-md-12">
	            {% if hongbao %}
	               	<h1>今天已经领取过了。</h1>
	                <img src="{{ hongbao.qrcode }}">
	                <p>扫描二维码，既得1212购物券。</p>
	                <p>1212万能盛典消费者参见</p>
	                <p><a href="http://www.taobao.com/go/market/2014/1212/rules.php" target="_blank">http://www.taobao.com/go/market/2014/1212/rules.php</a></p>
	            {% else %}
	                <img src="{% static 'images/event/1212-error-later.jpg' %}">
	            {% endif %}
	        </div>
        </div>
    </div>
{% endblock %}