{% extends "management_base.html" %}

{% block content %}
    <div class="container">
        <div class="row-fluid" id="chlid-images">
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <a href="" >
                            <img id="main-image" class="img-polaroid" src="{{ note_context.figure }}" alt="" style="max-width: 280px;max-height: 280px">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <form class="well form-horizontal" action="" method="POST">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="creator">创建者</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="creator" name="creator" value="{{ creator_context.nickname }}" disabled/> 
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="brand">品牌</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="brand" name="brand" value="{{ candidate_context.brand }}" /> 
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="title">名称</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="title" name="title" value="{{ candidate_context.title }}" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="note_text">点评</label>
                        <div class="controls">
                            <textarea class="input-xxlarge" style="height:120px" type="text" id="note_text" name="note_text" >{{ note_context.content }}</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="title">评分</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="score" name="score" value="{{ note_context.score }}" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="catagory_id">分类:</label>
                        <div class="controls">
                            <select id="catagory" name="category_id">
                                <option {%if candidate_context.category_id == 0%}selected="selected" {%endif%}value="0">未知</option>
                                {% for category in category_list %}
                                    <option {%if category.category_id == candidate_context.category_id%}selected="selected" {%endif%}value="{{ category.category_id }}">{{ category.category_title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="category_text">分类名称</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="category_text" name="category_text" value="{{ candidate_context.category_text }}" /> 
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="weight">状态:</label>
                        <div class="controls">
                            <input class="input-xlarge" type="text" id="weight" name="weight" value="{{ candidate_context.weight }}" />
                            <span class="help-inline">小于0表示冻结</span>
                        </div>
                    </div>
                    {% if candidate_context.entity_id != '' %}
                        <div class="control-group">
                            <label class="control-label" for="entity_id">已被录入至：</label>
                            <div class="controls">
                                <input class="input-xxlarge" type="text" id="entity_id" name="entity_id" value="{{ candidate_context.entity_id }}" disabled/> 
                            </div>
                        </div>
                    {% endif %}
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">更新</button>
                </div>
            </form>
            {% if candidate_context.entity_id == '' %}
                <form class="well form-horizontal" action="{% url 'management.views.new_entity' %}" method="POST">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="url">录入商品库（淘宝url）:</label>
                            <div class="controls">
                                <input class="input-xxlarge" type="text" id="url" name="url" value="" />
                            </div>
                        </div>
                        <input class="input-xxlarge" type="hidden" id="candidate_id" name="candidate_id" value="{{ candidate_context.candidate_id }}" />
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">创建</button>
                    </div>
                </form>
                <form class="well form-horizontal" action="{% url 'management.views.shift_candidate_to_entity' candidate_context.candidate_id %}" method="POST">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="url">绑定已有商品（entity_id）:</label>
                            <div class="controls">
                                <input class="input-xxlarge" type="text" id="entity_id" name="entity_id" value="" />
                            </div>
                        </div>
                        <input class="input-xxlarge" type="hidden" id="candidate_id" name="candidate_id" value="{{ candidate_context.candidate_id }}" />
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">创建</button>
                    </div>
                </form>
            {% endif %}
        </div>
        </div>
    </div>
{% endblock %}

