{% extends "management_base.html" %}
{% load management %}

{% block content %}
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">分类组</li>
                <li{%if  categories == None %} class="active"{%endif%}>
                    <a href="{% url 'management.views.candidate_list' %}">
                        全部
                    </a>
                </li>
                {% for group in category_groups %}
                    <li{%if group.group_id == category_context.group_id%} class="active"{%endif%}>
                        <a href="{% url 'management.views.candidate_list' %}?gid={{group.group_id}}">
                            {{ group.title }}({{ group.category_count }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="span9">
        {% if categories %}
            <div class="sub-nav">
                <ul class="nav nav-pills">
                    {% for category in categories%}
                        <li{%if category.category_id == category_context.category_id%} class="active"{%endif%}>
                            <a href="{% url 'management.views.candidate_list' %}?cid={{category.category_id}}">
                                {{ category.category_title }}({{ category.candidate_count }})
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{% url 'management.views.create_category' %}?gid={{category_group_id}}">+</a> 
                    </li>
                </ul>
            </div>
        {% endif %}
        <div>
            <div class="sub-nav">
                <ul class="nav nav-pills">
                    <li{%if filtering == 'all' %} class="active"{%endif%}>
                        <a href="{% url 'management.views.candidate_list' %}">全部</a> 
                    </li>
                    <li{%if filtering == 'pending' %} class="active"{%endif%}>
                        <a href="{% url 'management.views.candidate_list' %}?pending=1">待审核</a> 
                    </li>
                    <li>
                    <li{%if filtering == 'approve' %} class="active"{%endif%}>
                        <a href="{% url 'management.views.candidate_list' %}?approve=1">已收录</a> 
                    </li>
                </ul>
            </div>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>图片</th>
                        <th>创建者</th>
                        <th>分类组</th>
                        <th>分类名称</th>
                        <th>品牌</th>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidate_context in candidate_context_list %}
                        {% display_candidate_row candidate_context %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
