{% extends "base.html" %}
{% load web %}

{% block title %}精选{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}web/styles/selection.css">{% endblock %}

{% block content %}
    {% for selection in selections %}
        <div class="selection-item">
            <div class="entity">
                <h3>
                    <a href="{% url 'web.views.detail' selection.entity_context.entity_id %}">
                        {% if selection.entity_context.brand|length != 0 %}{{ selection.entity_context.brand }}
                            - {% endif %}{{ selection.entity_context.title }}</a>
                </h3>

                <div class="img-container">
                    <a href="{% url 'web.views.detail' selection.entity_context.entity_id %}">
                        <img class="entity-img" src="{{ selection.entity_context.chief_image.url }}" alt="">
                    </a>
                </div>
                <span class="like">喜爱 <small>{{ selection.entity_context.like_count }}</small></span>
            </div>

            <div class="note">
                {% display_note selection.note_context selection.creator_context %}

                <div class="more-note">
                    {% for note in selection.note_list %}
                        {% display_note note.note_context note.creator_context %}
                    {% endfor %}
                </div>

                <div class="operate-note">
                    <span class="show-note">还有 {{ selection.note_list|length }} 条点评</span>
                    <span class="add-note">写点评</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}