{% extends "base.html" %}

{% block title %}精选{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}web/styles/selection.css">{% endblock %}

{% block content %}
    {% for selection in selections %}
        <div class="selection-item">
            <div class="entity">
                <h3>
                    <a href="">{% if selection.entity.brand|length != 0 %}{{ selection.entity.brand }}
                        - {% endif %}{{ selection.entity.title }}</a>
                </h3>

                <div class="img-container">
                    <a href=""><img class="entity-img" src="{{ selection.entity.chief_image.url }}" alt=""></a>
                </div>
                <span class="like-count">喜爱 <small>{{ selection.entity.like_count }}</small></span>
            </div>

            <div class="note">
                <div class="selection-note">
                    <a href=""><img class="avatar" src="{{ selection.creator.avatar_small }}" width="50"
                                    height="50"></a>

                    <div class="note-detail">
                        <span class="creator-name">{{ selection.creator.nickname }}</span>
                        <small class="bio">{{ selection.creator.bio }}</small>
                        <p>{{ selection.note.content }}</p>
                        <span class="like"></span>
                        <span class="add-comment"></span>
                        <span class="post-time"></span>
                    </div>
                </div>

                <div class="more-note">
                    {% for note in selection.note_list %}
                        <div class="selection-note">
                            <a href=""><img class="avatar" src="{{ note.creator.avatar_small }}" width="50"
                                            height="50"></a>

                            <div class="note-detail">
                                <span class="creator-name">{{ note.creator.nickname }}</span>
                                <small class="bio">{{ note.creator.bio }}</small>
                                <p>{{ note.note.content }}</p>
                                <span class="like"></span>
                                <span class="add-comment"></span>
                                <span class="post-time"></span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="operate-note">
                    <span class="show-note">还有 {{ note_list|length }} 条点评</span>
                    <span class="add-note">写点评</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}