{% extends 'new_management_base.html' %}
{% load i18n %}]


{% block content %}
    <div class="container">
        <div class="row">
            <div class="table-responsive" >
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'link' %}</th>
                            <th>{% trans 'image' %}</th>
                            <th>{% trans 'operation' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for show in show_banners %}
                            <tr>
                                <td>{{ show.banner.id }}</td>
                                <td>{{ show.banner.link }}</td>
                                <td><img class="img-polaroid img-responsive" src="{{ show.banner.image_url }}" width="150" height="150"></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}