{% load common %}
{% load management %}

<tr {% if note_context.weight < 0 %} class="info"
    {% elif not note_context.post_time %} class=""
    {% elif is_future %} class="success"
    {% elif note_context.post_time %} class="warning"
    {% endif %}
>
    <td width="60" style="text-align: center" class="note-select">
        <input type="checkbox" class="note-checkbox" data-noteid="{{ note_context.note_id }}" data-entityid="{{ note_context.entity_id }}"
                data-selecttime="{{ note_context.selected_time }}">
    </td>
    <td width="60"><p class="text-info">{{ note_context.note_id }}</p></td>
    <td width="90">
        <a href="http://www.guoku.com/detail/{{ entity_context.entity_hash }}/" target="_blank">
            <img class="img-polaroid" src="{{ entity_context.chief_image.url }}" style="max-height:80px;max-width:80px;">
        </a>
    </td>
    <td width="90">
        {% if note_context.figure %}
            <img class="img-polaroid" src="{{ note_context.figure }}" style="max-height:80px;max-width:80px;">
        {% else %}
            <p class="text-info"></p> 
        {% endif %}
    </td>
    <td width="200"><p class="text-info">{{ creator_context.nickname }}</p></td>
    <td><p class="text-info">{{ note_context.content }}</p></td>
    <td width="150">
        {% if note_context.post_time %}
            <p class="text-info">{{ note_context.post_time|date_format }}</p>
        {% else %}
            No
        {% endif %}
    </td>
    <td width="50">
        <div class="btn-group">
            <a class="btn" href="{% url 'management.views.edit_note' note_context.note_id %}">编</a>
            <a class="btn" href="{% url 'management.views.freeze_note' note_context.note_id %}">藏</a>
            {% if not note_context.selected_time %}
                <a class="btn" href="{% url 'management.views.post_selection_instant' note_context.entity_id note_context.note_id %}">当</a>
                <a class="btn" href="{% url 'management.views.post_selection_delay' note_context.entity_id note_context.note_id %}">迟</a>
            {% endif %}
        </div>
    </td>
</tr>
