{% load common %}
{% load web %}

<div class="note-item">
    <a href="" class="avatar"><img src="{{ creator_context.avatar_small }}" width="50"
                                   height="50"></a>

    <div class="note-detail">
        <span class="nickname">{{ creator_context.nickname }}</span>
        <small class="bio">{{ creator_context.bio }}</small>
        <p class="note-content">{{ note_context.content }}</p>

        {% if user_context.user_id == creator_context.user_id %}
            <form class="clearfix update-note-form"
                  action="{% url 'web.views.entity.update_note' entity_context.entity_id %}"
                  method="POST" style="display: none">
                <input type="hidden" name="note_id" value="{{ note_context.note_id }}">
                <textarea name="note_text" class="text-input">{{ note_context.content }}</textarea>

                <div>
                    <a href="javascript:;" class="cancel-update">取消</a>
                    <input type="submit" value="修改" class="guoku-button">
                </div>
            </form>
        {% endif %}

        <a href="javascript:;" class="poke">{{ note_context.poke_count }}</a>
        <a href="javascript:;" class="add-comment">{{ comment_list|length }}</a>

        {% if user_context.user_id == creator_context.user_id %}
            <a href="javascript:;" class="update-note">修改</a>
            <span class="my-note">你的点评</span>
        {% endif %}

        <span class="create-time">{{ note_context.created_time|format_time }}</span>

        <div class="note-comment" style="display: none">
            {% for comment in comment_list %}
                {% display_note_comment comment %}
            {% endfor %}

            <form method="POST" action="{% url 'web.views.note.add_comment' note_context.note_id %}">
                <input type="text" name="comment_text" class="text-input">
                <input type="hidden" name="reply_to_user_id">
                <input type="hidden" name="reply_to_comment_id">

                <div class="operate-comment">
                    <a href="javascript:;" class="cancel-comment">取消</a>
                    <input type="submit" value="评论" class="guoku-button">
                </div>
            </form>
        </div>

    </div>
</div>