<div class="note-comment-item">
    <a class="avatar" href="{% url 'web.views.user.user_index' creator_context.user_id %}">
        <img src="{{ creator_context.avatar_small }}" height="32" width="32">
    </a>

    <div class="note-comment-detail">
        <a class="nickname"
           href="{% url 'web.views.user.user_index' creator_context.user_id %}">{{ creator_context.nickname }}</a>

        {% if user_context.user_id == creator_context.user_id or user_context.user_id == note_context.creator_id %}
            <a href="{% url 'web.views.note.delete_comment' comment_context.note_id comment_context.comment_id %}"
               class="close">&times;</a>
        {% endif %}

        <p class="comment-content" data-creator="{{ creator_context.user_id }}"
           data-comment="{{ comment_context.comment_id }}">
            {% if comment_context.reply_to_user_id != None %}回复
                {{ comment_context.reply_to_user_nickname }}:
            {% endif %}{{ comment_context.content }}</p>

        <a href="javascript:;" class="reply">回复</a>
    </div>
</div>