{% load entity user %}

<div class="message_aside">
	<div class="suggest_user">
		<div class="suggest_user_title">推荐关注</div>
		<div class="suggest_user_list">
			
		</div>
	</div>
	<div class="download">
		<h3>下载果库客户端</h3>
        <div>
            <a href="/download/ios/" target="_blank">iPhone</a> /
            <a href="/download/ios/" target="_blank">iPad</a> /
            <a href="http://app.guoku.com/download/android/guoku-release.apk" target="_blank">Android</a>
        </div>
	</div>
</div>