{% load i18n %}
{% load entity web_common %}

            {% for selection in selection_list %}
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="thumbnail entity-selection">
{#                        <span class="timestr" name="{{ selection.note_context.post_time|date:"Y-m-d H:i:s" }}"></span>#}
                        <div class="img-box">
                            <a  href="{% url 'web_detail' selection.entity_context.entity_hash %}">
                                <img class="lazy img-responsive" alt="{{ selection.entity_context.title }}" src="{{ selection.entity_context.chief_image.url|resize:'310' }}" width='310' height='310'>
                            </a>
                        </div>
                        <div class="caption">
                            <p style="margin: 0;" class="hidden-sm hidden-md hidden-lg">
                                <a class="btn btn-user " style="padding:6px 0px 6px 0px;" href="{% url 'web_user_index' selection.creator_context.user_id %}">
                                    <img class="img-circle" src="{{ selection.creator_context.avatar_small }}" width="30" height="30" style="width:30px;height:30px;display:inline-block;">&nbsp; {{ selection.creator_context.nickname|truncatechars:10 }}
                                </a>
                            </p>
                            <p class="note">{{ selection.note_context.content|truncatechars:70 }}</p>
                        </div>
                        <div style="white-space:nowrap;overflow:hidden;">
                            {% if selection.is_user_already_like %}
                                <a class="btn btn-like pull-left" href="{% url 'web_like_entity' selection.entity_context.entity_id '1' %}" target="_blank" rel="nofollow" onclick="_hmt.push(['_trackEvent', 'entity', 'unlike', '{{ selection.entity_context.title }}']);">
                                <i class="fa fa-heart fa-lg"></i>
                            {% else %}
                                <a class="btn btn-like pull-left" href="{% url 'web_like_entity' selection.entity_context.entity_id '1' %}" target="_blank" rel="nofollow" onclick="_hmt.push(['_trackEvent', 'entity', 'like', '{{ selection.entity_context.title }}']);">
                                <i class="fa fa-heart-o fa-lg"></i>
                            {% endif %}
                                    {% trans 'likes' %} <span class="like-count">{{ selection.entity_context.like_count }}</span>
                                </a>
                                <a class="btn btn-user pull-right hidden-xs" href="{% url 'web_user_index' selection.creator_context.user_id %}">
                                    <p style="margin: 0;">
                                        <img class="img-circle" src="{{ selection.creator_context.avatar_small }}" width="30" height="30" >&nbsp; {{ selection.creator_context.nickname|truncatechars:5 }}
                                    </p>
                                </a>
                        </div>
                    </div>
                </div>
            {% endfor %}