{% load i18n %}
{% load entity web_common %}
{##}
{#{% spaceless %}#}
{#    {% for selection in selection_list %}#}
{#        {% display_common_note selection %}#}
{#    {% endfor %}#}
{#{% endspaceless %}#}

            {% for selection in selection_list %}
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="thumbnail entity-selection">
                        <span class="timestr" name="{{ selection.note_context.post_time|date:"Y-m-d H:i:s" }}"></span>
                        <div class="img-box">
                            <a  href="{% url 'web_detail' selection.entity_context.entity_hash %}" target="_blank">
                                <img class="lazy img-responsive" alt="{{ selection.entity_context.title }}" src="{{ selection.entity_context.chief_image.url|resize:'310' }}">
                            </a>
                        </div>

                        <div class="caption">
                            <p class="note">{{ selection.note_context.content|truncatechars:70 }}</p>
                        </div>
                        <div style="white-space:nowrap;overflow:hidden;">
                                <a class="btn btn-like pull-left" href="{% url 'web_like_entity' selection.entity_context.entity_id '1' %}" target="_blank">
                                    {% if selection.is_user_already_like %}
                                        <i class="fa fa-heart fa-lg"></i>
                                    {% else %}
                                        <i class="fa fa-heart-o fa-lg"></i>
                                    {% endif %}
                                    {% trans 'likes' %} <span class="like-count">{{ selection.entity_context.like_count }}</span>
                                </a>
                                <a class="btn btn-user pull-right" href="{% url 'web_user_index' selection.creator_context.user_id %}"  target="_blank">
                                    <p style="margin: 0;">
                                        <img class="img-circle" src="{{ selection.creator_context.avatar_small }}" width="30" height="30" >&nbsp; {{ selection.creator_context.nickname|truncatechars:10 }}
                                    </p>
                                </a>
                        </div>
                    </div>
                </div>
            {% endfor %}