{% load staticfiles %}
{% spaceless %}
    {% for selection in selection_list %}
        <div class="selection-item">
            <div class="entity">
                <div class="title" style="display: none">
                    <h2>
                        <a href="{% url 'web.views.main.detail' selection.entity_context.entity_hash %}">
                            {% if selection.entity_context.brand|length != 0 %}
                                {{ selection.entity_context.brand }}
                                - {% endif %}{{ selection.entity_context.title }}</a>
                    </h2>
                    <span class="price">&#65509;{{ selection.entity_context.price }}</span>
                </div>

                <a href="{% url 'web.views.main.detail' selection.entity_context.entity_hash %}"
                   class="entity-img">
                    <img src="{{ selection.entity_context.chief_image.url }}" alt="entity image">
                </a>
            </div>

            <div class="note">
                <p>{{ selection.note_context.content|truncatechars:90 }}</p>
                <a href="{% url 'web_like_entity' selection.entity_context.entity_id %}"
                   class="like{% if selection.is_user_already_like %} liked{% endif %}">
                    <span class="icon"></span>
                    <span class="count">{{ selection.entity_context.like_count }}</span>喜爱
                </a>
                <div class="creator">
                    <a href="{% url 'web_user_index' selection.creator_context.user_id %}"
                       class="avatar"><img src="{{ selection.creator_context.avatar_small }}" width="30"
                                           height="30"></a>
                    <a href="{% url 'web_user_index' selection.creator_context.user_id %}"
                       class="nickname">{{ selection.creator_context.nickname|truncatechars:11 }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endspaceless %}