{% extends "base.html" %}
{% load i18n %}
{% load web_common %}

{% block title %}{{ tag }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
             <div class="category-header">
                <p>#{{ tag }}</p>
            </div>
            {% for entity in entities %}
                {% include 'common/entity.html' with entity_context=entity %}
            {% endfor %}
        </div>
        {% if paginator %}
            {% include "common/web_paginator.html" with paginator=paginator %}
        {% endif %}
    </div>
{% endblock %}
