{% extends "management_base.html" %}

{% block content %}
<div class="container">
    <div>
        <form class="well form-horizontal" action="{% url 'management_create_category_group' %}" method="POST">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="title">名称:</label>
                    <div class="controls">
                        <input class="input-xxlarge" type="text" id="title" name="title" value="" />
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">添加</button>
            </div>
        </form>
    </div>
{% endblock %}
