{% extends "seller_base.html" %}
{% block title %}
    果库卖家
{% endblock %}

{% block content %}
    <div class="span10">
        <h5>已在果库的商品</h5>
        <table class="table table-bordered table-striped">
            <th>名称</th>
            <th>价格</th>
            <th>操作</th>
        {% for item in item_list %}
            <tr>
                <td><a href="{{ item.item.buy_link}}">{{ item.item.title }}</a></td>
                <td>{{ item.item.price }}</td>
                <td><a href="{% url 'seller_apply_guoku_plus'%}?taobao_id={{ item.item.taobao_id }}">申请果库+</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}

