{% extends "seller_base.html" %}
{% block title %}
    果库卖家
{% endblock %}

{% block content %}
    <div class="bs-docs-section">
                    <div class="panel panel-default">
                        <div class="panel-heading"><span style="font-size:24px;">操作区</span></div>
                        <div class="panel-body">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#GKJModal">
                                <i class="fa fa-plus-square"></i>
                                提交果库价申请
                            </button>
 <a href="#" data-toggle="popover" title="" data-trigger="hover" data-content="卖家提供一定优惠尝鲜价的商品，果库帮助卖家利用渠道进行推广" data-original-title="果库价" id="HelpTip">什么是果库价？</a>
                            <div class="modal fade" id="GKJModal" tabindex="-1" role="dialog" aria-labelledby="GKJModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="GKJModalLabel">活动申请</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/seller/guokuplus/apply/" class="application_plus_form" method="post">

                                                <div class="application_url application_input"> <b>商品链接:</b>
                                                    {{ application_form.taobao_url }}</div>
                                                <div class="application_count application_input"> <b>优惠数量/件:</b>
                                                    {{ application_form.total_volume }}</div>
                                                <div class="application_count application_input">
                                                    <b>优惠价格/元:</b>
                                                    {{ application_form.sale_price }}</div>
                                                <div class="cln">
                                                    <div class="application_remarks application_input">
                                                        <b>附加信息:</b>
                                                       	{{ application_form.seller_remarks }}
                                                    </div>
                                                    <div class="cln"></div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">

                                            <b>{{ application_form.agree_tos }}同意协议</b>

                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <button type="button" class="btn btn-primary">提交</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content --> </div>
                                <!-- /.modal-dialog --> </div>
                            <!-- /.modal -->
                            <button type="button" class="btn btn-default btn col-md-offset-1" data-toggle="modal" data-target="#YHMModal">
                                <i class="fa fa-money"></i> 优惠码提交
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="YHMModal" tabindex="-1" role="dialog" aria-labelledby="YHMModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="YHMModalLabel">优惠码提交</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-inline" role="form">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" id="" placeholder="请输入优惠码"></div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <button type="button" class="btn btn-primary">提交</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content --> </div>
                                <!-- /.modal-dialog --> </div>
                            <!-- /.modal --> </div>
                    </div>
                </div>
{% endblock %}
