{% extends "seller_base.html" %}
{% block title %}
    果库卖家
{% endblock %}
{% block content %}
    <div class="span10">
        <img src="{{ guoku_plus_context.entity_context.chief_image.url }}" width="200"/>
        <p>{{ guoku_plus_context.item_context.title }}</p>
        <p>{{ guoku_plus_context.sale_price }}</p>
        <p>共{{ guoku_plus_context.total_volume }} 件</p>
        <p>{{ guoku_plus_context.status }}</p>
        </p>已售出{{guoku_plus_context.sales_volume}}件</p>
        <p> 开始日期 {{guoku_plus_context.start_time | date:'Y-m-d H:i'}}</p>
        <p> 结束日期 {{guoku_plus_context.end_time | date:'Y-m-d H:i'}}</p>

        <div>
            销售情况
            <p>已发出{{token_count}}个优惠码</p>
            <p>其中{{used_token_count}} 个已使用</p>
            <table>
                <th>使用时间</th>
                <th>购买者</th>
                <th>使用时间</th>
                <th>使用时间</th>
                {% for token in used_token_list %}
                    <tr>
                        <td>
                            {{ token.used_time | date:'Y-m-d H:i'}}
                        </td>
                        <td>
                           <img src="{{token.user_context.avatar_large}}" width="80"/> {{ token.user_context.nickname }}
                        </td>
                        <td>
                            {{ token.token}}
                        </td>
                        <td>
                            {{ token.quantity }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
