{% extends "seller_base.html" %}
{% load seller %}

{% block title %}
    果库卖家
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-list affix" style="background:#f6f6f6;width:150px;">
                    <li class="">
                        <a href="#overview"> <i class="icon-chevron-right"></i> <i class="fa fa-bookmark-o"></i>
                            介绍
                        </a>
                    </li>
                    <li class="">
                        <a href="#overview">
                            <i class="icon-chevron-right"></i>
                            <i class="fa fa-plus-square"></i>
                            申请
                        </a>
                    </li>
                    <li class="">
                        <a href="#overview">
                            <i class="icon-chevron-right"></i>
                            <i class="fa fa-list-alt"></i>
                            管理
                        </a>
                    </li>
                    <li>
                        <a href="#transitions">
                            <i class="icon-chevron-right"></i>
                            <i class="fa fa-tachometer"></i>
                            统计
                        </a>
                    </li>
                    <li>
                        <a href="#modals">
                            <i class="icon-chevron-right"></i>
                            <i class="fa fa-cog"></i>
                            加V申请
                        </a>
                    </li>
                    <li>
                        <a href="#modals">
                            <i class="icon-chevron-right"></i>
                            <i class="fa fa-money"></i>
                            优惠码提交
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="bs-docs-section">
                    <div class="panel panel-default">
                      <div class="panel-heading">介绍</div>
                      <div class="panel-body">
                        {% include 'partial/shop_verification.html' %}
                      </div>
                    </div>
                </div>
                <div class="bs-docs-section">
                    <div class="page-header">
                        <h3 id="js-overview">申请『果库价』活动</h3>
                        <p>什么是<a href="{% url 'seller_faq' %}">果库价</a>?</h3>
                    </div>
                    <div class="panel panel-default">
                        {% include 'guoku_plus_application.html' %}
                    </div>
                    
                </div>
                <div class="bs-docs-section">
                    <div class="page-header">
                        <h3 id="js-overview">果库价管理</h3>
                    </div>
                    <div class="bs-example bs-example-tabs">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#home" data-toggle="tab">所有</a>
                            </li>
                            <li>
                                <a href="#profile" data-toggle="tab">已通过</a>
                            </li>
                            <li>
                                <a href="#profile" data-toggle="tab">已结束</a>
                            </li>
                            <li>
                                <a href="#profile" data-toggle="tab">未通过</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="home">
                                <div class="table-responsive" style="margin-top:20px;">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 50%;">商品</th>
                                                <th style="width: 40%;">状态</th>
                                                <th>详情</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in guokuplus_list %}
                                                <tr>
                                                    <td>
                                                        <div class="media">
                                                            <a class="pull-left" href="http://item.taobao.com/item.htm?id={{ item.item_context.taobao_id }}">
                                                                <img class="media-object" alt="64x64" src="{{ item.entity_context.chief_image.url }}" style="width: 64px; height: 64px;"></a>
                                                            <div class="media-body">
                                                                <h5 class="media-heading"><a href="{% url 'web_detail' item.entity_context.entity_hash %}">{{ item.item_context.title }}</a></h5>
                                                                <p> 原价{{ item.item_context.price }}  优惠价 {{ item.sale_price }}</p>
                                                                <p> 共 {{ item.total_volume }} 件， 已售出 {{ item.sales_volume }} 件 </p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <h5>
                                                            <span class="label label-primary">{{ item.status }}</span>
                                                        </h5>
                                                        <p>开始日期：{{ item.start_time }}</p>
                                                        
                                                    </td>
                                                    <td>
                                                        <a href="#">详情</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile"></div>
                            <div class="tab-pane fade" id="dropdown1"></div>
                            <div class="tab-pane fade" id="dropdown2"></div>
                        </div>
                    </div>
                </div>
                <div class="bs-docs-section">
                    <div class="page-header">
                        <h3 id="js-overview">优惠码提交</h3>
                    </div>
                    <form class="form-inline" role="form" action="{%url 'seller_verify_token'%}" method="POST">
                        <div class="form-group">
                            <input class="form-control" name="token" placeholder="请输入优惠码"></div>
                        <button type="submit" class="btn btn-default">提交</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
