{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}果库{% endblock %}
    </title>
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'management/css/bootstrap.min.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
<div id="main" class="container">
   <div class="navbar navbar-default navbar-static-top span10">
      <div class="navbar-inner">
        <a class="navbar-brand" href="/"><h2>果库卖家</h2></a>
      </div>
    </div>
    <div class="span10">
        <ul class="nav nav-tabs">
            <li {% if "commodities" in request.path%}class="active" {%endif%}>
                <a href="{%url 'seller_commodities'%}">我的商品</a>
            </li>
            <li {% if "guokuplus/applications" in request.path %}class="active" {%endif%}>
                <a href="{%url 'seller_guoku_plus_applications_list'%}">我的果库+申请</a>
            </li>
            <li {% if "guokuplus/activities/" in request.path %}class="active" {%endif%}>
                <a href="{%url 'seller_guoku_plus_applications_list'%}">我的果库+活动</a>
            </li>
        </ul>
    </div>
    {% block content %}{% endblock %}
</div>
<div id="footer">{% block footer %}{% endblock %}</div>

{% block javascript %}
    <script type="text/javascript" src="{% static 'management/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'management/js/bootstrap.min.js' %}"></script>
{% endblock %}
{% block script %}{% endblock %}
</body>
</html>
