{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}果库{% endblock %}
    </title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<style type="text/css">
    body{
        padding-top: 100px;
    }
</style>
<body>
<div id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">果库卖家</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">主页</a>
                    </li>
                </ul>
            </div>
        </div>
</div>

<div id="main" class="container">

   <!--<div class="navbar navbar-default navbar-static-top span10">
      <div class="navbar-inner">
        <a class="navbar-brand" href="/"><h2>果库卖家</h2></a>
      </div>
    </div>
    <div class="span10">
        <ul class="nav nav-tabs">
            <li {% if "commodities" in request.path%}class="active" {%endif%}>
                <a href="{%url 'seller_commodities'%}">我的商品</a>
            </li>
            <li {% if "guokuplus" in request.path %}class="active" {%endif%}>
                <a href="{%url 'seller_guoku_plus_list'%}">我的果库+活动</a>
            </li>
        </ul>
    </div>-->
    {% block content %}{% endblock %}
</div>
<div id="footer">{% block footer %}{% endblock %}</div>

{% block javascript %}
    <script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}
{% block script %}{% endblock %}
</body>
</html>
