{% extends "new_management_base.html" %}
{% load i18n management %}

{% block content %}
    <div class="container">
        <div class="row">

        </div>

        <div class="row" style="margin-top: 20px;">
            <ul class="nav nav-pills" role="tablist">
                <li><a target="_blank" class="btn btn-primary" href="{% url 'management_event_banner_create' %}">{% trans 'add' %}</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="table-responsive" style="margin: 20px 0 20px 0;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'images' %}</th>
                            <th>{% trans 'link' %}</th>
                            <th>{% trans 'operation' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for banner in event_banners %}
                            <tr>
                                <td>{{ banner.pk }}</td>
                                <td><img class="img-polaroid" style="max-height:150px;max-width:150px;" src="{{ banner.image_url }}"></td>
                                <td>{{ banner.link }}</td>
                                <td><a target="_blank" class="btn btn-default" href="{% url 'management_event_banner_edit' banner.pk %}">{% trans 'edit' %}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}