{% extends 'new_management_base.html' %}
{% load i18n %}


{% block content %}
    <div class="container">

        <div class="row" style="margin-top: 20px;">
            <ul class="nav nav-pills" role="tablist">
                <li><a target="_blank" class="btn btn-primary" href="{% url 'management_recommend_create' event %}">{% trans 'add' %}</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="table-responsive" >
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'link' %}</th>
                            <th>{% trans 'image' %}</th>
                            <th>{% trans 'position' %}</th>
                            <th>{% trans 'operation' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for show in show_recommendations %}
                        <tr>
                            <td>{{ show.pk }}</td>
                            <td>{{ show.recommendation.link }}</td>
                            <td><img class="img-responsive img-polaroid" src="{{ show.recommendation.image_url }}" width="150" height="150"></td>
                            <td>{{ show.position }}</td>
                            <td><a target="_blank" class="btn btn-default" href="{% url 'management_recommend_edit' show.recommendation.pk %}">{% trans 'edit' %}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

