@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}
body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
body {
    padding-top: 100px;
    color: #666;
    /*font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;*/
}

/*.sub-header {*/
    /*border-bottom: 1px solid rgb(238, 238, 238);*/
    /*padding-bottom: 10px;*/
/*}*/
/*.navbar-fixed-top {*/
    /*border: 0 none;*/
/*}*/



/* 最大宽度限制处理 */
@media (min-width: 1200px){
    .container {
        width: 970px;
    }
}



/*.gk-selection-flow .thumbnail-gk .pic-container .good-pic {*/
    /*height: 310px;*/
    /*border-radius: 0;*/
/*}*/

a {
    color: #333333;
    text-decoration: none;
}

a:hover,
a:focus {
  color: #333333;
  text-decoration: underline;
}

/* 去圆角处理 */
.thumbnail {
    border-radius: 0;
}

.panel {
    border-radius: 0;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}

.btn {
    border: 0;
    border-radius: 0;
}
/* 导航栏选中状态处理 */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: initial;
}

.nav-home {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
}

/* 图片宽高相等处理 */
.img-box{
    display:block;
    height:0;
    padding-bottom:100%;
    /*border-bottom: 1px solid #cccccc;*/
}

.img-box > a{
    display:inline-block;
    vertical-align: middle;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,50%);
    transform: translate(-50%,-50%);
}

.img-box > a >img
{
    max-height:100%;
    max-width:100%;
}

/* welcome */
.welcome-sign {
    margin-top: 30px;
}
.welcome-login {
    font-size: 18px;
    padding-bottom: 6px;
    padding-top: 6px;
}

/* 商品详情页喜爱头像列表 */
.like-user-list > div
{
    padding:0px;
    margin:0px;
    width:35px;
}

.like-user-list > div > .thumbnail
{
  padding:0;
  border:0;
  margin: 0 5px 10px 5px;
}

.caption {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.caption .note {
    height: 80px;
}

.guoku-caption {
    border-top: 1px solid #ccc;
    margin: 5px 5px 0 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* 商品详情页 */
.entity-title {
    margin-bottom: 40px;
}
/* 商品详情页分类 */
.detail-category{
    background: #f0f0f0;
    padding: 15px 0 15px 15px;
}
.detail-category > a{
    color: #427ec0;
}


.list-group-item {
    border: 1px solid #f1f1f1;
}


.list-unstyled {
    list-style: none outside none;
    padding-left: 0;
}

.jumbotron {
    margin-top: -50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.navbar-brand {
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    margin-top: 70px;
    padding: 30px 0;
}
.footer a {
    color: #777;
}
.footer-top .about > div {
    height: 110px;
    margin-bottom: 10px;
}
.footer-top .about > div h4 {
    color: #563d7c;
    font-size: 16px;
}
.footer-bottom ul > li + li:before {
    color: #ccc;
    content: "|";
    padding: 0 10px;
}

/*.thumbnail {*/
    /*border-radius: 0;*/
/*}*/
.thumbnail-selection {
    height: 448px;
    /*text-align: center;*/
}
.thumbnail-popular {
    height: 253px;
    /*text-align: center;*/
}
.thumbnail-recommend {
    height: 155px;
}

.form-control {
    border-radius: 0;
}

/* 购买按钮 */
.btn-buy {
    font-size: 16px;
}
.btn-buy > span {
    font: 22px Georgia,serif;
}
/* 用户按钮*/
.btn-user {
    display: inline-block;
    font-size: 14px;
    /*color: #333;*/
    padding: 0;
}
/* 喜欢按钮 */
.btn-like {
    display: inline-block;
    /*border-radius: 0;*/
    background-color: #fff;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    /*border-color: #ccc;*/
    /*border: #cccccc solid 1px;*/
    color: #333;
}
.btn-like-detail {
    display: inline-block;
    /*border-radius: 0;*/
    background-color: #fff;
    border-radius: 0;
    /*border-color: #ccc;*/
    border: #ccc solid 1px;
    color: #333;
}
.btn-user:hover,
.btn-user:focus,
.btn-user:active,
.btn-like:hover,
.btn-like:focus,
.btn-like.active,
.btn-like-detail:hover,
.btn-like-detail:focus,
.btn-like-detail:active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-like:active,
.btn-like.active,
.open > .dropdown-toggle.btn-like {
  background-image: none;
}

/* */
.breadcrumb {
    background: none;
}

/* 自定义翻页 */
.pager > li > a {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0;
    color: #898989;
    font-weight: 700;
}
.pager .disabled > a {
    background-color: #427DBF;
    cursor: not-allowed;
    color: #fff
}


/* 分类页面 */
.category-header {
    background-color: #FBFBFB;
    border: 1px solid #eee;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.category-header > p {
    padding-left: 40px;
    font-size: 16px;
    line-height: 38px;
    /*color: rgb(102, 102, 102);*/
}

/* 搜索页面 */
.navbar-search {
    background-color: #F8F8F8;
    /*border-color: ;*/
    border: 1px solid #E7E7E7;
    min-height: 38px;
}

.search-header >h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 25px;
}
.search-header >h2 >span {
    color: #333;
    margin-right: 10px;
}