<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="overflow-x: hidden; overflow-y: scroll;" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>404 - 果库</title>
    <link rel="icon" type="image/ico" href="http://static.guoku.com/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
</head>

<body>
    <div id="wrapper">
        <div id="main">
            <div class="center">
                <div class="img-404"></div>
                <h3>404 - 该页面不存在</h3>
                <p class="c999">"See you in another life, brother."</p>
                <p class="c999 fs12">-- Desmond, LOST, Season 2, Episode 23</p>
                <p class="c333">返回 <a href="/">首页</a>，或报告问题到 hi@guoku.com</p>
            </div>
        </div> 
    </div>
</body>
</html>