{% extends 'static_base.html' %}

{% block main %}
<h3>常见问题</h3>
<hr>
<h4>你们是谁？</h4>
<p>我们是不足十人的小团队，总部设在北京。</p>

<h4>什么是果库？</h4>
<p>「果库」帮助你发现互联网上最有趣、最人气的好商品，并且方便你轻松、便捷地买到这些好商品。目前，果库拥有自己的网站和 iPhone、iPad、Android 客户端。</p>

<h4>如何喜爱商品？</h4>
<p>点击 ♥ 标记喜爱的商品，避免错过精彩的推荐及适时的优惠信息。你喜爱过的商品，可以在「我的果库」查看。</p>

<h4>如何为商品贴标签？</h4>
<p>在撰写点评的输入框，便可以为商品贴标签。其书写形式是「＃+ 关键词」，输入完成，以空格、标点符号与之后的内容区隔开。贴标签的商品更容易被发现。养成贴标签的习惯，也更容易收获志同道合的朋友。你贴过的标签，可以在「我的果库」查看。</p>

<h4>如何添加商品入库？</h4>
<p>在网站顶部导航栏，可以透过「+」按钮，添加一件商品。进入添加商品页面，复制淘宝的商品链接至输入框，载入商品信息。编辑商品名称，选择无水印、质素高的商品图片，撰写有价值的点评文字，完成添加。你添加过的商品，可以在「我的果库」查看。</p>

<h4>什么样的商品会出现在「精选」？</h4>
<p>商品是货真价实，有用、有趣、有价值的好商品；图片无任何遮挡，突出商品本身，兼具美感；点评有帮助，包含有价值的信息，描述清楚，语言通顺，无错别字。最后通过审核就会出现在果库网站及客户端的「精选」。</p>

<h4>如何注册果库？</h4>
<p>你可以通过邮箱直接注册，也可以通过新浪微博、淘宝网授权达成注册。在注册完成以后，确认帐号绑定新浪微博，便可以将你喜爱的商品分享到微博。</p>

<h4>谁是一只小白兔？</h4>
<p>果库社群本着尽收世上好物的原则，鼓励各位积极添加、点评好商品，文明交流，共同打造乐观向上的消费型社群。如遇言论恶意危及他人，负能量过载，破坏社群安定团结等情况，情节恶劣者，从此变身小白兔。</p>

<h4>如何与果库合作？</h4>
<p>果库一直在寻找合作伙伴，请将你的淘宝店网址、品牌介绍、联系方式等，邮件至 <a href="mailto:bd@guoku.com">bd@guoku.com</a>，我们会尽快与你取得联系。</p>
{% endblock %}