{% extends 'static_base.html' %}

{% block title %}工作{% endblock %}

{% block main %}
    <h3>工作</h3>
    <hr>
    <h4>Web 前端工程师</h4>

    <p>北京 / 全职 / 一年以上相关工作经验</p>
    <p>职位诱惑：来这里做没节操有逼格的工程师。</p>
     <p>要求:</p>

    <ol>
        <li>熟悉 html, css, javascript 等；</li>
         <li>熟悉 jQuery, Bootstrap 前端开发框架；</li>
         <li>熟悉 Chrome 插件开发及其优化；</li> 
        <li>熟悉 SEO 相关技巧；</li>
         <li>基本功扎实、学习能力强，具备良好的代码规范，和团队协作能力。</li>
    </ol>

    <hr />
    <h4>Python 工程师：</h4>
    <p>北京 / 全职 / 一年以上相关工作经验</p>
    <ol>
        <li>熟悉 MVC 基础支持；</li>
       <li>熟悉 Django, Celery, Fabric 相关开发框架；</li> 
       <li>熟悉 Linux, Nginx, MySql, Redis 等；</li>
       <li>基本功扎实、学习能力强，具备良好的代码规范，和团队协作能力。</li>
    </ol>
    <hr />

    <h4>设计师：</h4>
    <p>北京 / 全职 / 一年以上相关工作经验</p>
    <ol>
        <li>熟悉 Photoshop, Illustrator, Flash 等图形软件；</li>
        <li>熟悉 html 及 Dreamweaver 等网页制作工具，能够独立完成界面设计；</li>
        <li>对互联网应用产品交互，包括 html, css, javascript 等，有充分理解与认识；</li>
        <li>具备良好的审美能力、深厚的美术功底，较强的色彩把握及平面和网页设计能力。</li>
        <li>具备敏锐的用户体验观察力，学习能力强，富有创新精神和团队协作能力。</li>
    </ol>
    <hr />

    <h4>市场专员：</h4>
    <p>北京 / 全职 / 一年以上相关工作经验</p>
    <ol>
        <li>熟悉互联网、电子商务等推广渠道；</li>
       <li>熟悉 SEO 相关技巧，了解应用分发渠道；</li>
       <li>具备较强的项目管理能力，极佳的商务谈判能力；</li>
       <li>具备公关活动策划、统筹、执行能力；</li>
       <li>具备敏锐的市场观察力，学习能力强，富有开拓精神和团队协作能力。</li>
    </ol>
{% endblock %}