{% extends 'static_base.html' %}

{% block title %}
友情链接
{% endblock %}

{% block  main %}
{#    <blockquote>#}
        <h3>友情链接：</h3>
{#    </blockquote>#}
    <hr />
    <div class="links">
        <div class="col-sm-2"><a class="btn btn-default" href="http://www.nuandao.com/" target="_blank">暖岛</a></div>
        <div class="col-sm-2"><a class="btn btn-default" href="http://www.xiangqu.com/" target="_blank">想去</a></div>
        <div class="col-sm-2"><a class="btn btn-default" href="http://www.52souluo.com/" target="_blank">我爱搜罗网</a></div>
        <div class="col-sm-2"><a class="btn btn-default" href="http://www.linkchic.com/" target="_blank">LC风格网</a></div>
        <div class="col-sm-2"><a class="btn btn-default" href="http://www.sopool.com/ " target="_blank">素铺</a></div>
        <div class="col-sm-2"><a class="btn btn-default" href="http://www.xipin.me/">稀品网</a></div>
{#        <div class="col-sm-2"><a class="btn btn-default" href="http://www.yokamen.cn/" target="_blank">YOKA男士论坛</a></div>#}
    </div>

{% endblock %}