{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 sidebar">
                {% url 'web_agreement' as web_agreement_url %}
            {% block sidebar %}
                <ul class="nav nav-sidebar">
                    <li><a href="#"><strong>{% trans 'about' %}</strong></a></li>
                    <li><a href="#"><strong>{% trans 'faq' %}</strong></a></li>
                    <li><a href="#"><strong>{% trans 'jobs' %}</strong></a></li>
                    <li><a href="#"><strong>{% trans 'links' %}</strong></a></li>
                    <li {% if web_agreement_url in request.path %}class="active"{% endif %}><a href="{% url 'web_agreement' %}"><strong>{% trans 'agreement' %}</strong></a></li>
                </ul>
            {% endblock %}
            </div>
            <div class="col-sm-9">
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}