{% load i18n %}
{#<li>#}
{#    <a href="#"><i class="fa fa-plus fa-lg" style="color:#fff;"></i></a>#}
{#</li>#}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 10px;">
        <img class="img-responsive img-circle" src="{{ user.avatar.avatar_small_url }}" width="30" height="30">
    </a>
    <ul class="dropdown-menu" role="menu">
        {% if user.is_staff %}
            <li><a href="{% url 'management_entity_list' %}"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp; 管理</a></li>
        {% endif %}
        <li><a href="{% url 'web_user_index' user.pk %}"><i class="fa fa-user fa-lg"></i>&nbsp; {% trans "my guoku" %}</a></li>
        <li><a href="{% url 'web_setting' %}"><i class="fa fa-cog fa-lg"></i>&nbsp; {% trans "settings" %}</a></li>
        <li><a href="{% url 'web_logout' %}"><i class="fa fa-power-off fa-lg"></i>&nbsp; {% trans "sign out" %}</a></li>
    </ul>
</li>
