{% load i18n %}
{#<div class="dropdown">#}
    <li>
        <a href="{% url 'web_user_index' user_context.user_id %}" class="user-avatar">
            <img src="{{ user_context.avatar_small }}" width="30" height="30">
        </a>
        <ul class="menu">
            <li><a href="{% url 'web_user_index' user_context.user_id %}">{% trans "my guoku" %}</a></li>
            <li><a href="{% url 'web_setting' %}">{% trans "settings" %}</a></li>
            <li><a href="{% url 'web_logout' %}">{% trans "sign out" %}</a></li>
        </ul>
    </li>
{#</div>#}