{% load i18n %}

<div class="col-xs-offset-4 col-sm-offset-5">
    <div class="thumbnails">
    <img class="img-responsive img-circle" src="{{ user_context.avatar_large }}" width="120" height="120">
    </div>
{#<form class="form-horizontal clearfix" enctype="multipart/form-data"#}
{#      action="{% url 'web.views.account.update_avatar' %}" method="POST">#}
{#    {% csrf_token %}#}

    <br />
    <span class="btn btn-primary fileinput-button">
{#        <label class="col-sm-4 control-label">点击选择图片</label>#}
{#        <a href="javascript:;">点击选择图片</a><span></span>#}
{#        <div class="col-sm-4">#}
            <i class="fa fa-plus fa-lg"></i>&nbsp; <span>点击选择图片</span>
            <input id="fileupload" type="file" multiple="" name="avatar_img" data-url="{% url 'web.views.account.update_avatar' %}">
{#        </div>#}
    </span>
{#    </div>#}
{#<div>#}
{#    <p>支持 JPG、GIF、PNG 格式，不超过 2MB。</p>#}
{#    <div class="form-group">#}
{#        <button type="submit" class="btn btn-primary form-control">{% trans "upload again" %}</button>#}
{#    </div>#}
{#</form>#}
</div>
{#<hr />#}