html{
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    color: #666;
    background-color: #fff;
}
html,
button,
input,
select,
textarea {
    font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;    
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.clear{
    clear: both;
}
/*-----------------------------------------------------*/
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

button {
    display: inline-block;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    outline: none;
}

/*------------ button --------------*/
.btn {
    -moz-user-select: none;
    display: inline-block;
    background-image: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-default {
    background-color: #FFFFFF;
    border-color: #cccccc;
    color: #333333;
}

.btn-primary {
    background-color: #427ec0;
    border-color: #357ebd;
    color: #FFFFFF;
    font-size: 20px;
    width: 124px;
    height: 28px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.3;
}

.btn-update {
    background: #427ec0;
    border: 1px #357ebd;
    /*border-color: #357ebd;*/
    width: 115px;
    height: 30px;
    margin: 5px 115px;
    /*padding: 5px;*/
    font-size: 14px;
    color: #FFFFFF;
}
.btn-disabled{
    background: #eee;
    border: 1px #357ebd;
    padding: 0px 20px;
    font-size: 14px;
    color: #999;
}
.btn-link {
    background-color: rgba(0,0,0,0);
    color: #428bca;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 0 6px 0;
}
.btn-go{
    color: #FFF;
    background: #427ec0;
    padding: 5px 14px;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    /*text-align: center;*/
    vertical-align: middle;
    line-height: 17px;
}
.btn-next {
    /*float: right;*/
    background-color: #427ec0;
    border-color: #357ebd;
    color: #FFFFFF;
    font-size: 14px;
    width: 80px;
    height: 28px;
    padding: 6px 6px 6px 0;
    text-align: center;
    vertical-align: middle;
    margin-left: 280px;
}
/*---------------------------------*/
/*--------- overlay ----------------*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #FFFFFF;
    opacity: 0.85;
    width: 100%;
}
.overlay-open {
    overflow: hidden;
}
/*--------------------------------*/
/*------------ message ---------------*/
.message {
    border-radius: 3px;
    background: #fffed2;
    /*height: 40px;*/
    width: 315px;
    padding: 15px;
    margin: 30px 0;
    font-size: 14px;
    text-align: center;
}

/*------------------------------------*/

.control-group {
    width: 445px;
    margin: 0 auto 15px auto;
    /*margin-bottom: 15px;*/
}

.error-info {
    /*margin-left: 10px;*/
    display: inline-block;
    position: absolute;
    border: 1px solid #dedede;
    padding: 5px 6px;
    font-size: 14px;
    color: #999;
    height: 40px;
    background: #ffc;
}

/*---------------- header --------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 49px;
    width: 100%;
    color: #fff;
    background-color: #343434;
    background-color: rgba(52, 52, 52, .95);
}

#header a {
    display: inline-block;
}

#header .header-container {
    position: relative;
    width: 960px;
    padding: 0 15px;
    height: 49px;
    margin: 0 auto;
    box-sizing: border-box;
}

#header li a,
#header .logo,
#header .search {
    padding-left: 7px;
    padding-right: 7px;
}

#header .title,
#header .nav-bar {
    float: left;
}

#header li.active,
#header li.link:hover,
#header .title:hover {
    background: #585858;
    color: #fff;
}
#header .nav-bar a:hover{
    color:#fff;
}

#header .logo {
    padding-top: 9px;
    height: 49px;
}

#header .nav-bar {
    margin: 0 0 0 15px;
    padding: 0;
}

#header li {
    float: left;
    height: 49px;
    line-height: 49px;
    font-size: 18px;
    color: #eee;
}
#header li+li {
    margin-left: 10px;
}

#header .add-entity {
}

#header .add-entity i {
    display: block;
    background: url("/static/v3/images/toolkit.png") no-repeat;
    background-position: -181px -56px;
    width: 22px;
    height: 22px;
    margin: 13px 0 13px;
}
#header .add-entity:hover i {
    background-position: -208px -56px;
}


#header .icon-menu, .icon-guoku, .icon-setting, .icon-signout {
    position: absolute;
    background: url("/static/v3/images/toolkit.png") no-repeat;
    width: 22px;
    height: 22px;
    margin: 12px;
}

#header .user,
#header .search {
    float: right;
}

#header .user {
    margin: 0;
    padding: 0;
}

#header .user li {
    padding: 0;
    margin: 0;
}
#header .user li span {
    display: block;
    line-height: 49px;
}
#header .user li a {
    display: block;
    text-decoration: none;
    line-height: 49px;
    padding: 0 6px;
}
#header .user li a:hover {
    color: #fff;
}
#header .user .user-avatar {
    display: table-cell;
    position: relative;
    height: 49px;
    line-height: 0;
    vertical-align: middle;
    padding-right: 20px;
}
#header .user img {
    border-radius: 50%;
}
#header .user li .icon-menu {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 12px 0;
    background-position: -52px -55px;
}
#header .user .menu {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}
#header .user .menu li {
    float: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    height: 50px;
    width: 135px;
}
/*.icon-guoku, .icon-setting, .icon-setting   {*/
    /*position: relative;*/
    /*background: url("/static/v3/images/toolkit.png") no-repeat;*/
/*}*/


#header .user .menu .icon-guoku {
    background-position: -79px -56px;
}
#header .user .menu .icon-setting {
    background-position: -111px -56px;
}
#header .user .menu .icon-signout {
    background-position: -144px -56px;
}
#header .user .menu li a {
    display: block;
    background-color: #FFFFFF;
    line-height: 50px;
    text-decoration: none;
    padding-left: 50px;
    color: #666666;
}
#header .user .menu li a:hover {
    background-color: #eee;
    color: #222222;
}
#header .user li ul {
    display: none;
    position: absolute;
}
#header .user li:hover ul {
    display: block;
}

#header .search .search-text {
    float: left;
    width: 120px;
    border-radius: 4px;
    border: none;
    padding: 6px 8px;
    background: #eee;
    line-height: 17px;
    font-size: 14px;
    margin: 11px 0;
    outline: none;
}
#header .search .search-text:focus {
    background: #fff;
    box-shadow: 0 0 3px #000;
}
#header .search .search-submit {
    float: left;
    background: transparent;
    border: none;
    outline: none;
    background: url(/static/v3/images/toolkit.png) no-repeat -16px -54px transparent;
    margin: 11px 0 11px -28px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

/* welcome----------------- */
#welcome {
    /*display: none;*/
    position: relative;
    background-color: #fbfbfb;
    top: 49px;
    height: 200px;
    width: 100%;
}

#welcome h2 {
    position: absolute;
    font-weight: 100;
    top: 40px;
    left: 380px;
    font-size: 24px;
    line-height: 34px;
    color: #666666;
    margin: auto 60px;
}

#welcome ul {
    position: absolute;
    top: 128px;
    left: 380px;
    padding: 0;
    margin: auto 55px;
}

#welcome li {
    float: left;
    margin-left: 5px;
    color: #666666;
    font-size: 14px;
}

#welcome span {
    display: inline-block;
    background-image: none;
    font-size: 18px;
    color: #666666;
    padding: 6px 0 6px 0;
    margin-left: 25px;
}

#welcome .intro {
    position: relative;
    width: 960px;
    margin: auto;
}

#welcome .brand {
    position: absolute;
    top: 10px;
    left: 95px;
    /*background-image: url(/static/v3/images/brand.png);*/
    width: 285px;
    /*height: 165px;*/
}

/*#welcome .*/
/* ------------------------- */

/*-----------------------------------------*/
#main {
    width: 960px;
    min-height: 700px;
    margin: 75px auto 50px;
    /*margin: 240px auto 50px;*/
}

/*--------------------------------------------*/
#footer {
    clear: both;
    padding: 15px 0;
    border-top: 1px solid #dedede;
    font-size: 12px;
}

#footer .container {
    width: 960px;
    margin: 0 auto;
}

#footer .site-info {
    float: right;
}

#footer .site-info a, #footer .site-info span {
    margin-left: 10px;
}

/*account-form--------------*/
.account-form {
    position: fixed;
    left: 50%;
    margin-left: -267px;
    width: 515px;
    /*height: 500px;*/
    border-radius: 3px;
}
.border_hack{
    z-index: 100000;
    top:100px;
    background: #fff;
    border: 10px solid #ddd;
}
.account-form .form_container {
    width: 515px;
    height: auto;
    background-color: #fff;
    margin: 10px;
    padding-bottom: 20px;
}
.account-form .text-input {
    display: inline-block;
    width: 243px;
    /*margin: 0 auto 15px;*/
    margin: 0 10px 0 95px;
    padding: 10px 5px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    background-color: #FFFFFF;
    /*background-color: #fbfbfb;*/
    border: 1px solid #eee;
    outline: none;
}
.account-form .submit_disabled{
	display: block;
    width: 255px;
    height: 50px;
    margin: 0 auto;
    border: none;
    font-size: 22px;
    /*vertical-position: 2px;*/
    vertical-align: middle;
    letter-spacing: 4px;
    outline: none;
    color: #888;
    background-color: #f7f5f5;
}
.account-form .submit {
    display: block;
    width: 255px;
    height: 50px;
    margin: 0 auto;
    border: none;
    font-size: 22px;
    /*vertical-position: 2px;*/
    vertical-align: middle;
    letter-spacing: 4px;
    outline: none;
    color: #fff;
    background-color: #427ec0;
}

.login .tip {
    /*margin-bottom: 55px;*/
    display: block;
    /*width: 515px;*/
    /*height: 125px;*/
    background-color: #fbfbfb;
    margin-bottom: 55px;
    text-align: center;
    /*vertical-align: bottom;*/
}

.login .error-message {
    position: fixed;
    top: 140px;
    width: 515px;
    height: 35px;
    background: url("/static/v3/images/error_message.png");
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    /*vertical-align: middle;*/
    /*margin: auto;*/
}

.weibo, .taobao {
    display: block;
    float: left;
    background: url('/static/v3/images/toolkit.png') no-repeat;
    width: 30px;
    height: 30px;
    /*padding: 75px 0;*/
    /*padding: 30px;*/
    /*margin-right: 30px;*/
    /*margin: auto;*/
}
.weibo {
    background-position: -18px -8px;
    margin-left: 155px;
    margin-right: 30px;
}
.taobao {
    background-position: -61px -8px;
}

.login .remember {
    position: relative;
    width: 255px;
    margin: 15px auto 25px;
}

.login .remember input {
    margin-right: 5px;
}

.login .remember a {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #427ec0;
}

.login .third-party {
    /*width: 255px;*/
    height: 30px;
    margin: 20px auto 0;
}

/*.login .third-party .weibo {*/

/*}*/

.login .to-reg {
    text-align: center;
    margin: 10px auto 30px;
    /*margin-top: 30px;*/
    /*margin-bottom: 20px;*/
    color: #427ec0;
}
.register .tip {
    display: block;
    background-color: #fbfbfb;
    margin-bottom: 55px;
    text-align: center;
}

.register .tip img,.login .tip img {
    margin: 11px 0 0 0;
}

.register .agreement {
    display: block;
    width: 255px;
    margin: 15px auto 25px;
}

.register .agreement input {
    margin-right: 5px;
}

.register .to-login {
    /*margin-top: 30px;*/
    margin: 30px 0;
    text-align: center;
}

.register .to-login a {
    color: #427ec0;
}

.account-form input:focus
{
    border-color: #ade0b3;
    background-color: #f8f8f8;
}

/**entity like-------------------------------------*/
.like {
    text-decoration: none;
}

.like .icon {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 20px;
    height: 18px;
    margin-right: 5px;
    background: url(/static/v3/images/toolkit.png) no-repeat;
    background-position: -19px -102px;
}

.liked .icon {
    background: url(/static/v3/images/toolkit.png) no-repeat;
    background-position: -56px -102px;
}

.like .count {
    margin-right: 5px;
}


/*------------------------------*/
.pagination {
    text-align: center;
    clear:both;
}

.pagination .container {
    display: inline-block;
    margin-top: 30px;
}

.pagination a {
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0px 15px;
    margin: 0px 5px;
    text-align: center;
    border: 1px solid #eee;
    font-weight: bold;
    color: #898989;
    background: #fff;
    text-decoration: none;
}

.pagination a:hover:not(.active) {
    background-color: #f6f6f6;
}

.pagination .active {
    background-color: #427dbf;
    color: #fff;
}

.pagination a .previous,
.pagination a .next {
    display: inline-block;
    width: 13px;
    height: 13px;
}

.pagination a .previous {
    margin-bottom: -1px ;
    background: url(../images/pre.png) no-repeat center;
}

.pagination a .next {
    margin-bottom: -1px ;
    background: url(../images/next.png) no-repeat center;
}


/*common entity-------------------------------------------------------------*/
.common-entity {
    display: inline-block;
    width: 208px;
    height: 258px;
    margin: 0 30px 30px 0;
    border: 1px solid #eee;
    font-size: 14px;
}

.common-entity .entity-img {
    display: table-cell;
    width: 208px;
    height: 208px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
}

.common-entity .entity-img img {
    margin: auto;
    max-width: 208px;
    max-height: 208px;
    vertical-align: middle;
}

.common-entity .detail {
    position: relative;
    margin: 12px 10px 0;
}

.common-entity .detail .like {
    text-decoration: none;
}

.common-entity .price {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Georgia, serif;
}


/*common note-------------------------------------------------------------*/
.common-note {
    display: inline-block;
    width: 298px;
    height: 448px;
    vertical-align: top;
    margin: 0 15px 15px 0;
    border: 1px solid #eee;
    font-size: 14px;

}

.common-note .entity .title {
    position: absolute;
    width: 268px;
    padding: 30px 15px;
    border-bottom: 1px solid #eee;
    background-color: #fbfbfb;
    background-color: rgba(251, 251, 251);
    opacity: 0.95;
    filter:alpha(opacity=95);
    font-size: 16px;
}

.common-note .entity h2 {
    display: inline-block;
    width: 160px;
    margin: 0 10px 0 0;
    line-height: 1.3;
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

.common-note .entity .title span {
    float: right;
    vertical-align: top;
    font-family: Georgia, serif;
    color: #427ec0;
}

.common-note .entity-img {
    /*background-color: #eeeeee;*/
    display: table-cell;
    /*max-width: 100%;*/
    /*padding: 2px;*/
    width: 296px;
    height: 270px;
    text-align: center;
    vertical-align: middle;
    /*padding: auto;*/
    font-size: 0;
}

.common-note .entity-img img {
    max-width: 296px;
    max-height: 270px;
    /*max-width: 100%;*/
    /*max-height: 100%;*/
}

.common-note .note {
    position: relative;
    height: 147px;
    padding: 15px;
    border-top: 1px solid #eee;
}

.common-note .note p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.common-note .like {
    position: absolute;
    left: 15px;
    bottom: 15px;
    line-height: 30px;
    /*font-weight: 100;*/
}

.common-note .creator {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: #777;
    font-size: 14px;
    /*font-weight: 100;*/
}
.common-note .creator .nickname {
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
}

.common-note .creator img {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

/*common tag-------------------------------------------------------------*/
.common-tag {
    display: inline-block;
    width: 208px;
    height: 308px;
    vertical-align: top;
    margin: 0 30px 30px 0;
    border: 1px solid #eee;
}

.common-tag h4 {
    height: 57px;
    line-height: 57px;
    font-size: 14px;
    margin: 0 0 0 15px;
}

.common-tag .tag-entities {
    height: 210px;
}

.common-tag .entity-img {
    display: inline-block;
    width: 104px;
    height: 104px;
    text-align: center;
    vertical-align: middle;
}

.common-tag .entity-img img {
    max-height: 100%;
    max-width: 100%;
    /*height: auto;*/
    /*width: auto;*/
}

.entity_already_exist{
    margin-top: 20px;
    display: none;
}
.common-tag .more {
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    background-color: #fbfbfb;
}

/*common user-------------------------------------------------------------*/
.common-user {
    float: left;
    width: 208px;
    height: 368px;
    margin: 0 30px 30px 0;
    border: 1px solid #eee;
    font-size: 14px;
}

.common-user .avatar {
    display: block;
    width: 80px;
    margin: 15px auto;
}

.common-user .avatar img {
    border-radius: 50%;
}

.common-user .nickname {
    display: block;
    text-align: center;
}

.common-user .stat {
    position: relative;
    width: 130px;
    margin: 16px auto;
}

.common-user .stat strong{
    margin-right: 3px;
}

.common-user .stat .follows {
    position: absolute;
    right: 0;
    bottom: 0;
}

.common-user .follow {
    text-align: center;
    margin-bottom: 20px;
}

.common-user .follow a {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    width: 80px;
    padding: 2px 15px 2px 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    text-decoration: none;
}

.common-user .avatars {
    font-size: 0;
}

/*
**  click to top style
*/
.click_to_top{
    width:30px;
    height:30px;
    position: fixed;
    background: #eeeeee;
    bottom: 55px;
    left: 10px;
    z-index: 1000000;
    display: none;
}
.click_to_top:hover{
	background: #e0e0e0;
}
.click_em{
	width: 30px;
	height: 30px;
	cursor: pointer;
    background: url("/static/v3/images/toolkit.png") no-repeat;
    background-position: -86px -188px;
}
.click_em:hover{
	width: 30px;
	height: 30px;
    background-position: -118px -188px;
}
/*404*/
.center{
    width: 600px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.img-404{
    width: 370px;
    height: 370px;
    margin: 0 auto;
    background: url("../images/404.png");
}
.img-500{
    width: 370px;
    height: 370px;
    margin: 0 auto;
    background: url("../images/500.png");
}
.c999{
    color: #999;
}
.fs12{
    font-size: 12px;
}
.c333{
    color: #333;
}
/*forget password*/
#forget_sendmail{
    height: 40px;
    font-weight: 700;
    border-radius: 3px;
    margin:30px 0px 0px 94px;
}
#reset_password{
    height: 40px;
    font-weight: 700;
    margin: 30px 0px 0px 110px;
}
.forget_tip{
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}
.forget_input{
    width: 300px;
    height: 25px;
    line-height: 25px;
    padding: 5px 10px;
    border: 1px solid #eee;
    outline: none;
}
.forget_input:hover,.forget_input:focus{
    border:1px solid #ddd;
}
/*.password input[type='submit']{*/
    /*height: 40px;*/
    /*font-weight: 700;*/
    /*border-radius: 2px;*/
    /*margin:30px 0 0 94px;*/
/*}*/
.forget_input_tip{
    display: none;
    padding-left:40px; 
}
.forget_email_tip{
    padding-right: 40px;
}
/* tag */
a.tag {color:#0084B4 !important;}
a.tag:hover {text-decoration:underline;}
.tag-auto-complete {position:relative;background:#fff;border:1px solid #DEDEDE;font-size:13px;z-index:999;top:0;left:0;min-width:152px}
.tag-auto-complete span {color:#BBBBBB;line-height:24px;padding:0 10px;}
.tag-auto-complete p {color:#666666;line-height:24px;padding:0 10px;margin:0;cursor:pointer;}
.tag-auto-complete p.hover {background:#F1F1F1;}
.text_area {visibility:hidden;border-color:#DEDEDE;position:absolute;width:530px;word-wrap:break-word;}
/*seller style*/
.verify_form{}

