#detail .main {
    float: left;
    width: 630px;
    margin-bottom: 45px;
}

#detail .breadcrumb {
    font-size: 16px;
    color: #898989;
}

#detail .breadcrumb .home {
    display: inline-block;
    height: 14px;
    width: 14px;
    /*background-color: #080808;*/
    background-image: url("/static/v3/images/home.png");
}

#detail .breadcrumb ul {
    /*margin: 35px 0;*/
    padding: 0;
    list-style: none;
}

#detail .breadcrumb li {
    display: inline-block;
    margin: 0 5px 0 5px;
}

#detail .breadcrumb a {
    /*font-size: 16px;*/
    color: #444444;
}

#detail .entity {
    padding: 25px;
    border: 1px solid #eee;
}

#detail .entity-img {
    display: table-cell;
    width: 580px;
    height: 580px;
    text-align: center;
    vertical-align: middle;
}

#detail .entity-img img {
    /*display: block;*/
    max-width: 580px;
    max-height: 580px;
}

#detail h2 {
    margin: 30px 0;
    color: #333;
    font-weight: normal;
    font-size: 18px;
}

#detail .like {
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    text-decoration: none;
}

#detail .selection-note {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

#detail .note-count {
    margin: 0;
    height: 35px;
    line-height: 35px;
    padding-left: 90px;
    border: 1px solid #eee;
    border-top: none;
    background-color: #fbfbfb;
}

#detail .notes {
    padding: 25px;
    border: 1px solid #eee;
    border-top: none;
}

#detail .notes .sep {
    height: 1px;
    border-bottom: 1px solid #eee;
    margin: 20px 0;
    font-size: 0;
}

#detail .add-note {
    padding: 25px;
    background-color: #fbfbfb;
}

#detail .add-note img {
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: top;
}

#detail .add-note form {
    display: inline-block;
    width: 484px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
}

#detail .add-note form textarea {
    width: 484px;
    height: 14px;
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    outline: 0;
}

#detail .add-note form.active textarea {
    height: 90px;
}

#detail .add-note form div {
    display: none;
}

#detail .add-note form.active div {
    display: block;
    position: relative;
    height: 28px;
    margin-top: 10px;
}

#detail .add-note form .cancel {
    position: absolute;
    right: 60px;
    bottom: 0;
    background-color: #bbb;
}

#detail .add-note form .submit {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #427ec0;
}

/*--note-item------------------------------------------*/
.note-item {
    position: relative;
    font-size: 14px;
    color: #666;
}

.note-item .avatar {
    float: left;
}

.note-item .avatar img {
    border-radius: 50%;
    margin-right: 15px;
}

.note-item .note-detail {
    overflow: hidden;
}

.note-item .nickname {
    margin-right: 10px;
    color: #333;
}

.note-item .bio {
    color: #999;
}

.note-item .note-content {
    margin: 10px 0 15px;
    line-height: 1.5;
}

.note-item .update-note-form {
    margin: 10px 0;
}

.note-item .update-note-form textarea {
    width: 507px;
    height: 90px;
    margin: 0 0 10px 0;
    padding: 2px;
    border: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.note-item .update-note-form div {
    height: 28px;
    position: relative;
}

.note-item .update-note-form .cancel {
    position: absolute;
    right: 60px;
    bottom: 0;
    background-color: #bbb;
}

.note-item .update-note-form .update {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #427ec0;
}

.note-item .note-operate {
    position: relative;
}

.note-item .poke, .note-item .poke, .note-item .create-time,
.note-item .my-note, .note-item .update-note,
.note-item .add-comment {
    color: #999;
    font-size: 12px;
}

.note-item .poke {
    display: inline-block;
    padding-right: 15px;
    border-right: 1px solid #eee;
}

.note-item .poke span {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    background: url(/static/v3/images/icon_poke.png);
}

.note-item .poked span {
    background: url(/static/v3/images/icon_poked.png);
}

.note-item .add-comment {
    display: inline-block;
    margin: 0 15px;
}

.note-item .add-comment span {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    background: url(/static/v3/images/icon_comment.png);
}

.note-item .update-note {
    padding-left: 15px;
    border-left: 1px solid #eee;
}

.note-item .my-note {
    position: absolute;
    right: 130px;
    bottom: 0;
    font-size: 12px;
    background-color: #fffdca;
}

.note-item .create-time {
    position: absolute;
    right: 0;
    bottom: 0;
}

.note-item .note-comment {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #eee;
}

.note-item .note-comment-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.note-item .note-comment-detail {
    position: relative;
    overflow: hidden;
}

.note-item .note-comment-item .close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    color: #999;
    text-decoration: none;
}

.note-item .note-comment-item .close:hover {
    color: #666;
}

.note-item .note-comment-item .nickname {
    color: #666;
}

.note-item .note-comment-item p {
    margin: 5px 0;
    color: #999;
}

.note-item .note-comment-item .reply {
    float: right;
}

.note-item .note-comment .text {
    width: 485px;
    padding: 6px 2px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 2px;
    outline: none;
}

.note-item .operate-comment {
    position: relative;
    height: 28px;
}

.note-item .operate-comment .cancel-comment{
    position: absolute;
    right: 60px;
    bottom: 0;
    background-color: #bbb;
}

.note-item .operate-comment .submit-comment {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #427ec0;
}
/*--note-item-end------------------------------------------*/



/*--------------------------------------------------------------------------------------------------------------------*/
#detail .aside {
    float: right;
    width: 285px;
}

#detail .aside h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    color: #666;
}

#detail .aside .entity-info {
    border: 1px solid #eee;
    padding: 25px 20px;
}

#detail .aside .price {
    display: inline-block;
    margin-bottom: 20px;
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #427ec0;
    text-decoration: none;
}

#detail .aside .price span {
    margin-left: 15px;
    font: 22px Georgia, serif;
}

#detail .shop a {
    margin-left: 8px;
}

#detail .detail-img {
    margin-top: 20px;
    margin-right: -15px;
    font-size: 0;
}

#detail .detail-img a {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 14px; /*(285 - 1*2 - 20*2 - 50*4) / 3*/
}

#detail .detail-img a img {
    max-width: 100%;
    max-height: 100%;
}

#detail .likes {
    padding: 25px 20px;
    border: 1px solid #eee;
    border-top: none;
}

#detail .likes div {
    margin-top: 10px;
}

#detail .likes img {
    margin: 0 5px 5px 0;
}

#detail .category {
    height: 50px;
    margin: 0;
    line-height: 50px;
    padding: 0 20px;
    border: 1px solid #eee;
    border-top: none;
    color: #427ec0;
    background-color: #fbfbfb;
}

#detail .tag {
    padding: 25px 20px;
    border: 1px solid #eee;
    border-top: none;
}

#detail .tag div {
    margin-top: 15px;
}

#detail .tag a {
    display: block;
    margin-top: 10px;
}

#detail .share {
    padding: 25px 20px;
    border: 1px solid #eee;
    border-top: none;
    font-size: 14px;
}

#detail .share a {
    text-decoration: none;
}

#detail .download {
    padding: 25px 20px;
    border: 1px solid #eee;
    border-top: none;
}

#detail .download div {
    margin-top: 10px;
}


/*---------------------------------------------------------------------------------------------------------------------*/
#detail .recommend {
    clear: both;
    width: 630px;
}

#detail .recommend h2 {
    margin: 0 0 10px;
}

#detail .recommend div {
    margin-right: -15px;
    font-size: 0;
}

#detail .recommend a {
    display: inline-block;
    width: 146px;
    height: 146px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#detail .recommend img {
    max-width: 100%;
    max-height: 100%;
}