#add-entity {

}

#add-entity h2 {
    font-size: 16px;
    font-weight: bold;
    color: #999;
    margin: 0 0 5px;
}

#add-entity .entity {
    float: left;
    width: 630px;
}

#add-entity .entity .container {
    padding: 30px;
    margin-top:10px;
    border: 1px solid #ddd;
    min-height: 300px;
}

#add-entity .entity form p {
    margin: 0 0 10px;
}

#add-entity .load-entity .text-input {
    width: 435px;
    height: 25px;
    margin-right: 10px;
    padding: 5px 10px;
    vertical-align: bottom;
    font-size: 12px;
    color: #333;
    border: 1px solid #ddd;
    outline: none;
}

#add-entity .load-entity .text-input:hover,#add-entity .load-entity .text-input:focus{
    border: 1px solid #aaa;
}

#add-entity .load-entity input[type='submit']{
    padding: 9px 20px;
    background: #427ec0;
    border: 1px solid #216db0;
    color: white;
    border-radius: 4px;
}

#add-entity .entity-detail {
    margin-top: 30px;
    display: none;
}

#add-entity .entity-detail .brand {
    margin-right: 10px;
}

#add-entity .entity-detail .brand,
#add-entity .entity-detail .title {
    display: inline-block;
}

#add-entity .entity-detail .text-input {
    display: block;
    height: 25px;
    margin-right: 10px;
    padding: 5px 10px;
    vertical-align: bottom;
    font-size: 12px;
    color: #999;
    border: 1px solid #ddd;
    outline: none;
    color: #333;
}

#add-entity .entity-detail .brand .text-input {
    width: 100px;
}

#add-entity .entity-detail .title .text-input {
    width: 310px;
}

#add-entity .entity-detail h3 {
    margin-top: 30px;
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

#add-entity .entity-detail .img-container {
    height: 300px;
}

#add-entity .entity-detail .img-container img {
    max-width: 100%;
    max-height: 100%;
}

#add-entity .detail-img {
    margin-top: 20px;
    padding-bottom: 30px;
}
#add-entity .detail-img div{
    display: inline-block;
}

#add-entity .detail-img div img {
    width: 50px;
    height: 50px;
    margin: 5px 5px 5px 0px;
    padding:3px;
    border: 1px solid #eee; 
    cursor: pointer;
}
#add-entity .detail-img .current_img{
    border:1px solid #ccc;
}
#add-entity .add-note {
    padding: 0px 10px;
    background: #f9f9f9;
    display: none;
}
.detail form span{
    width: 9px;
    height: 16px;
    display: block;
    background: url("../images/arrows.png");
    position: relative;
    top:-125px;
    left: 2px;
}
#add-entity .add-note h3 {
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: #999;
}

#add-entity .add-note .note-container {
    padding: 30px 15px 15px;
}

#add-entity .add-note .avatar {
    float: left;
}

#add-entity .add-note .avatar img{
    float: left;
    margin-right: 10px;
    border-radius: 25px;
}

#add-entity .add-note .detail {
    overflow: hidden;
}

#add-entity .add-note form {
    margin: 0;
    padding: 0;
    position: relative;
}

#add-entity .add-note textarea {
    width: 485px;
    min-height: 100px;
    margin: 1px 0 10px 10px;
    padding: 2px;
    resize: none;
    border: 1px solid #eee;
    padding:10px;
    outline: none;
}

#add-entity .add-note textarea:hover,#add-entity .add-note textarea:focus{
    border: 1px solid #ddd;
}

#add-entity .add-note form div {
    position: absolute;
    left: 1px;
    bottom: 11px;
    width: 526px;
    padding: 5px;
    border-top: 1px solid #dedede;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 12px;
    color: #999;
    background-color: #fff;
}

#add-entity .add-note form input {
    float: right;
    margin-right: 3px;
    margin-bottom: 5px;
}

#add-entity .add-note input[type='submit']{
    padding: 9px 20px;
    background: #427ec0;
    border: 1px solid #216db0;
    color: white;
    border-radius: 4px;
}

#add-entity .aside {
    float: right;
    width: 255px;
    padding: 15px;
}

#add-entity .aside h3 {
    font-size: 14px;
    color: #666;
}

#add-entity .aside div {
    margin-top: 15px;
}