@import "./base.css";
@import "./normalize.min.css";

#message{
	margin-top:30px;
}
#message_list{
	width: 630px;
	border: 1px solid #eee;
	border-bottom:0px;
	float: left;
}
.message_item{
	padding: 15px;
	border-bottom: 1px solid #eee;
}
.message_left{
	width: 25px;
	height: auto;
	float: left;
}
.message_right{
	width: 575px;
	float: left;
}
.message_icon{
	width: 25px;
	height: 25px;
}
.message_icon img{
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
.message_text{
	margin-left: 10px;
	line-height: 28px;
}
.message_time{
	margin-left: 12px;
	font-size: 13px;
	line-height: 30px;
}
.message_text a{
	font-size: 16px;
	padding-right: 5px;
	color: #444;
}
.note_content,.comment_content{
	padding-bottom: 15px;
}
#message_side{
	width: 285px;
	height: 500px;
	border: 1px solid #eee;
	float: right;
}
.suggest_user{
	padding:15px;
	font-size: 15px;
	color: #444;
}