@import "./base.css";
@import "./normalize.min.css";

#selection {
    margin-right: -15px;
    padding: 15px;
}

#selection ul {
    margin: 35px 0;
    padding: 0;
}

#selection ul li {
    display: inline-block;
    margin: 0 5px;
}

#selection ul li.active {
    color: #000;
}

#selection ul .sep {
    margin: 0 5px;
}