body {
    color: #999;
    background-color: #fff;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

/*-----------------------------------------------------*/
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.guoku-block {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: 2px;
}

button {
    display: inline-block;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    outline: none;
}

/*--------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 49px;
    width: 100%;
    color: #fff;
    background-color: #343434;
    background-color: rgba(52, 52, 52, .95);
}

#header .header-container {
    position: relative;
    width: 960px;
    height: 49px;
    margin: 0 auto;
}

#header h1 {
    margin: 0;
    line-height: 49px;
}

#header .logo {
    position: absolute;
    left: 0;
    top: 9px;
}

#header ul {
    position: absolute;
    top: 0;
    left: 127px;
    height: 49px;
    line-height: 49px;
    margin: 0;
    padding: 0;
}

#header li {
    float: left;
    margin-right: 25px;
    padding: 0 11px;
    color: #cdcbcb;
}

#header li.active {
    color: #fff;
}

#header .user {
    position: absolute;
    top: 0;
    right: 305px;
}

#header .user .user-avatar {
    display: table-cell;
    height: 49px;
    vertical-align: middle;
}

#header .user img {
    border-radius: 50%;
}

#header form {
    position: absolute;
    top: 0;
    right: 0;
    height: 49px;
    line-height: 49px;
    width: 285px;
    background-color: #272727;
    background-color: rgba(37, 37, 37, 0.95);
}

#header form .search {
    width: 230px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    padding: 0;
    border: none;
    outline: 0;
    color: #fff;
    background-color: #272727;
    background-color: rgba(37, 37, 37, 0.95);
}

#header form button {
    height: 49px;
    vertical-align: top;
    padding: 8px 6px;
    border: none;
    border-radius: 0;
    outline: 0;
    background-color: #272727;
}

#header form button img {
    width: 26px;
    height: 28px;
}


/*-----------------------------------------*/
#main {
    width: 960px;
    margin: 75px auto 50px;
}

/*--------------------------------------------*/
#footer {
    clear: both;
    padding: 15px 0;
    border-top: 1px solid #dedede;
    font-size: 12px;
}

#footer .container {
    width: 960px;
    margin: 0 auto;
}

#footer .site-info {
    float: right;
}

#footer .site-info a, #footer .site-info span {
    margin-left: 10px;
}

/**entity like-------------------------------------*/
.like {
    text-decoration: none;
}

.like .icon {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 20px;
    height: 17px;
    margin-right: 5px;
    background: url(/static/images/icon_like.png) no-repeat;
}

.liked .icon {
    background: url(/static/images/icon_like_press.png) no-repeat;
}

.like .count {
    margin-right: 5px;
}


/*------------------------------*/
.pagination {
    text-align: center;
}

.pagination .container {
    display: inline-block;
    margin-top: 30px;
}

.pagination a {
    float: left;
    height: 35px;
    line-height: 35px;
    width: 40px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    font-weight: bold;
    color: #999;
    background: #fff;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #f6f6f6;
}

.pagination .active {
    background-color: #f6f6f6;
}

.pagination a .previous,
.pagination a .next {
    display: inline-block;
    width: 13px;
    height: 13px;
}

.pagination a .previous {
    background: url(/static/images/guoku_icon.png) no-repeat scroll -157px -3px;
}

.pagination a .next {
    background: url(/static/images/guoku_icon.png) no-repeat scroll -170px -3px;
}