#user-center ul {
    margin: 0;
    padding: 0;
}

#user-center .img-container {
    display: inline-block;
    margin: -30px 0 15px 15px;
    padding: 5px 5px 12px;
}

#user-center .user {
    margin-top: 25px;
}

#user-center .base {
    position: relative;
    z-index: -1;
    border-bottom: 1px solid #dedede;
}

#user-center h2 {
    position: absolute;
    left: 140px;
    top: 0;
    margin: 15px 0 0;
    font-size: 22px;
    font-weight: normal;
    color: #666;
}

#user-center .base small {
    position: absolute;
    left: 140px;
    top: 43px;
}

#user-center .base address {
    position: absolute;
    left: 140px;
    top: 75px;
    font-style: normal;
    font-size: 12px;
    color: #666;
}

#user-center .base a {
    position: absolute;
    right: 15px;
    top: 65px;
    text-decoration: none;

    padding: 4px;
    color: #999;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    background: #fafafa;
}

#user-center .stat {
    padding: 15px;
    color: #666;
}

#user-center .stat a {
    margin-right: 25px;
}

#user-center .stat .social {
    float: right;
    color: #999;
}

#user-center .stat .social a {
    margin: 0 0 0 25px;
}

#user-center .entity-nav {
    position: relative;
    margin-top: 45px;
}

#user-center .categories {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 15px;
}

#user-center .categories li {
    display: inline;
    margin-right: 15px;
}

#user-center .filter {
    position: absolute;
    right: 15px;
    top: 8px;
    width: 100px;
    margin: 0;
    padding: 5px 0;
    line-height: 1.5;
}

#user-center .filter a {
    display: block;
    padding-left: 5px;
}

#user-center .filter a.price {
    display: none;
}

#user-center .filter a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #4db07a;
}

#user-center li.entity {
    display: inline-block;
    width: 191px;
    margin: 0;
    padding: 30px 0;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #f3f3f3;
    font-size: 14px;
}

#user-center li.entity div {
    width: 162px;
    margin: 0 auto;
}

#user-center li.entity div .price {
    float: right;
}

#user-center li.entity .entity-img {
    display: block;
    width: 162px;
    height: 162px;
    margin: 0 auto 20px;
    text-align: center;
}

#user-center li.entity .entity-img img {
    max-width: 100%;
    max-height: 100%;
}

#user-center .likes {
    margin: -1px 0 0 0;
    padding: 2px 0 0 0;
    font-size: 0;
}

#user-center .notes {
    font-size: 0;
}

#user-center .notes li {
    display: inline-block;
    width: 319px;
    height: 478px;
    padding: 30px 0;
    vertical-align: top;
    font-size: 14px;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

#user-center h3 {
    margin: 25px 0 5px;
    font-size: 14px;
}

#user-center .notes .entity-img {
    display: block;
    width: 290px;
    max-height: 290px;
    margin: 0 auto;
    text-align: center;
}

#user-center .notes .entity-img img {
    max-width: 100%;
    max-height: 100%;
}

#user-center .notes li div {
    width: 290px;
    margin: 10px auto;
}

#user-center .notes .avatar {
    float: left;
    margin-right: 5px;
}

#user-center .notes .nickname {
    color: #333;
    font-weight: bold;
    line-height: 1.5;
}

#user-center .notes .date {
    font-size: 12px;
}

#user-center .notes p {
    clear: left;
    color: #666;
    line-height: 1.5;
}

#user-center .tags ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}

#user-center .users {
    padding: 0 15px;
    font-size: 0;
}

#user-center .users li {
    display: inline-block;
    width: 310px;
    height: 110px;
    margin: 30px 0;
    vertical-align: top;
    font-size: 14px;
}

#user-center .users .avatar {
    float: left;
    margin-right: 10px;
}

#user-center .users .follow {
    display: inline-block;
    text-decoration: none;

    padding: 4px;
    color: #999;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    background: #fafafa;
}

#user-center .users li p {
    margin: 5px 0 15px;
    font-size: 12px;
}