{% extends "management_base.html" %}

{% block content %}
    <div class="container">
        <div class="row-fluid" id="chlid-images">
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <a href="{{ entity_context.image_url }}" >
                            <img id="main-image" class="img-polaroid" src="{{ entity_context.image_url }}" alt="" style="max-width: 280px;max-height: 280px">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <form class="well form-horizontal" action="" method="POST">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="entity_hash">Hash</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="entity_hash" name="entity_hash" value="{{ entity_context.entity_hash }}" disabled/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="brand">品牌</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="brand" name="brand" value="{{ entity_context.base_info.brand }}" onChange="loadSimilarEntity(null);"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="title">名称</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="title" name="title" value="{{ entity_context.base_info.title }}" />
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">更新</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

