{% extends "management_base.html" %}

{% block content %}
    <div class="container">
        {% if message %}
            <div class="hero-unit">
                <h3>{{ message }}</h3>
            </div>
        {% endif %}
        <div class="row-fluid" id="chlid-images">
            <ul class="thumbnails">
                <li> 
                    <a href="" >
                        <img id="main-image" class="img-polaroid" src="{{ entity_context.chief_image.url }}" alt="" style="max-width: 220px;max-height: 220px">
                    </a>
                </li>
                {% for detail_image in entity_context.detail_images %}
                    <li>
                        <a href="" >
                            <img id="main-image" class="img-polaroid" src="{{ detail_image.url }}" alt="" style="max-width: 200px;max-height: 200px">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <form class="well form-horizontal" action="{% url 'management.views.edit_entity' entity_context.entity_id %}" method="POST">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="entity_hash">Hash:</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="entity_hash" name="entity_hash" value="{{ entity_context.entity_hash }}" disabled/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="brand">品牌:</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="brand" name="brand" value="{{ entity_context.brand }}" onChange="loadSimilarEntity(null);"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="title">名称:</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="title" name="title" value="{{ entity_context.title }}" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="intro">简介:</label>
                        <div class="controls">
                            <textarea class="input-xxlarge" style="height:120px" type="text" id="intro" name="intro" >{{ entity_context.intro }}</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="price">价格:</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="price" name="price" value="{{ entity_context.price }}" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="catagory_id">分类:</label>
                        <div class="controls">
                            <select id="catagory" name="category_id">
                                {% for category in category_list %}
                                    <option {%if category.category_id == entity_context.category_id%}selected="selected" {%endif%}value="{{ category.category_id }}">{{ category.category_title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="chief_image">主图:</label>
                        <div class="controls">
                            <select id="catagory" name="chief_image">
                                <option selected="selected" value="{{ entity_context.chief_image.id }}">当前 - {{ entity_context.chief_image.id }}</option>
                                {% for detail_image in entity_context.detail_images %}
                                    <option value="{{ detail_image.id }}">细节图{{ forloop.counter }} - {{ detail_image.id }}</option>
                                {% endfor %}
                            </select>
                            <a href="{% url 'management.views.edit_entity_image' entity_context.entity_id %}">
                                管理图片 > 
                            </a>
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">更新</button>
                </div>
            </form>
            {% for item_context in item_context_list %}
                <form class="well form-horizontal" action="" method="POST">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="item_id_display">item id:</label>
                            <div class="controls">
                                <input class="input-xxlarge" type="text" id="item_id_display" name="item_id_display" value="{{ item_context.item_id }}" disabled/>
                                <a href="{{ item_context.buy_link }}" target="_blank">
                                    去看看 > 
                                </a>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="taobao_id_display">淘宝id:</label>
                            <div class="controls">
                                <input class="input-xxlarge" type="text" id="taobao_id_display" name="taobao_id_display" value="{{ item_context.taobao_id }}" disabled/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="shop_nick">店家</label>
                            <div class="controls">
                                <input class="input-xxlarge" type="text" id="shop_nick" name="shop_nick" value="{{ item_context.shop_nick }}" disabled/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="price">价格</label>
                            <div class="controls">
                                <input class="input-xxlarge" type="text" id="price" name="price" value="{{ item_context.price }}" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="soldout">已下架</label>
                            <div class="controls">
                                <input class="input-xxlarge" type="text" id="soldout" name="soldout" value="{%if item_context.soldout%}1{%else%}0{%endif%}" />
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <a class="btn" href="{% url 'management.views.unbind_taobao_item_from_entity' entity_context.entity_id item_context.item_id %}">删除</a>
                    </div>
                </form>
            {% endfor %}
            <form class="well form-horizontal" action="{% url 'management.views.load_taobao_item_for_entity' entity_context.entity_id %}" method="POST">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="image_url">添加新 item :</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="taobao_id" name="taobao_id" value="" />
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">添加</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

