{% extends "management_base.html" %}
{% load management %}

{% block cssstyle %}
    <style>
    .table th, .table td {
        text-align: center;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="span2">
        {% if category_context != None %}
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">操作</li>
                    <li>
                        <a href="{% url 'management_new_entity' %}?cid={{category_context.category_id}}">
                            添加商品 - {{ category_context.category_title }}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'management_edit_category' category_context.category_id %}">
                            编辑分类 - {{ category_context.category_title }}
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">操作</li>
                    <li>
                        <a href="{% url 'management_new_entity' %}">
                            添加商品
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">分类组</li>
                <li{%if  categories == None %} class="active"{%endif%}>
                    <a href="{% url 'management_entity_list' %}">
                        全部
                    </a>
                </li>
                {% for group in category_groups %}
                    <li{%if group.group_id == category_group_id%} class="active"{%endif%}>
                        <a href="{% url 'management_entity_list' %}?gid={{group.group_id}}">
                            {{ group.title }}({{ group.category_count }})
                        </a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{% url 'management_create_category_group' %}">
                        +
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="span10">
        {% if categories != None %}
        <div class="sub-nav">
            <ul class="nav nav-pills">
                {% for category in categories%}
                    <li{%if category.category_id == category_context.category_id%} class="active"{%endif%}>
                        <a href="{% url 'management_entity_list' %}?cid={{category.category_id}}">
                            {{ category.category_title }}({{ category.entity_count }})
                        </a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{% url 'management_create_category' %}?gid={{category_group_id}}">+</a>
                </li>
            </ul>
        </div>
        {% endif %}
        <div class="sub-nav">
            <ul class="nav nav-pills">
                <li{%if status_filter == "select"%} class="active"{%endif%}>
                    <a href="{% url 'management_entity_list' %}?{%if category_context != None %}cid={{category_context.category_id}}&{%endif%}status=select">
                        精选({{ select_entity_count }})
                    </a>
                </li>
                <li{%if status_filter == "novus"%} class="active"{%endif%}>
                    <a href="{% url 'management_entity_list' %}?{%if category_context != None %}cid={{category_context.category_id}}&{%endif%}status=novus">
                        新品({{ novus_entity_count }}) 
                    </a>
                </li>
                <li{%if status_filter == "freeze"%} class="active"{%endif%}>
                    <a href="{% url 'management_entity_list' %}?{%if category_context != None %}cid={{category_context.category_id}}&{%endif%}status=freeze">
                        冻结({{ freeze_entity_count }}) 
                    </a>
                </li>
                <li{%if status_filter == "recycle"%} class="active"{%endif%}>
                    <a href="{% url 'management_entity_list' %}?{%if category_context != None %}cid={{category_context.category_id}}&{%endif%}status=recycle">
                        剔除({{ recycle_entity_count }}) 
                    </a>
                </li>
            </ul>
        </div>

        <div class="sub-nav">
            <ul class="nav nav-pills" id="sort-entity">
                <li {% if sort_by == None or sort_by == "random" and reverse == False %}class="active"{% endif %}>
                    <a href="javascript:;" id="random-order">随机</a>
                </li>
                <li {% if sort_by == None or sort_by == "time" and reverse == False %}class="active"{% endif %}>
                    <a href="javascript:;" id="date-order">创建时间降序</a>
                </li>
                <li {% if sort_by == "time" and reverse %}class="active"{% endif %}>
                    <a href="javascript:;" id="date-order">创建时间升序</a>
                </li>
                <li {% if sort_by == "note" and reverse == False %}class="active"{% endif %}>
                    <a href="javascript:;" id="note-order">点评数降序</a>
                </li>
                <li {% if sort_by == "note" and reverse %}class="active"{% endif %}>
                    <a href="javascript:;" id="note-order">点评数升序</a>
                </li>
            </ul>
        </div>

        <div>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>图片</th>
                        <th>id</th>
                        <th>分类</th>
                        <th>品牌</th>
                        <th>名称</th>
                        <th>店铺</th>
                        <th>计划</th>
                        <th>分成</th>
                        <th>创建时间</th>
                        <th>点评数</th>
                        <th>购买链接</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity_context in entity_context_list %}
                        {% display_entity_row entity_context %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if paginator %}
            {% display_paginator paginator %}
        {% endif %}
    </div>
{% endblock %}

{% block extra %}
    <script>
        (function ($) {
            var sortButtons = $("#sort-entity a");

            sortButtons.eq(0).click(function () {
                sort("random", 0);
            });
            sortButtons.eq(1).click(function () {
                sort("time", 0);
            });
            sortButtons.eq(2).click(function () {
                sort("time", 1);
            });
            sortButtons.eq(3).click(function () {
                sort("note", 0);
            });
            sortButtons.eq(4).click(function () {
                sort("note", 1);
            });

            function sort(type, order) {
                var originUrl = location.href;
                var qIndex = originUrl.indexOf("?");
                var urlPath = originUrl;

                var paras = {};
                if (qIndex !== -1) {
                    urlPath = originUrl.slice(0, qIndex);
                    var pStr = originUrl.slice(qIndex + 1);
                    var pArr = pStr.split("&");
                    for (var i = 0; i < pArr.length; i++) {
                        var para = pArr[i].split("=");
                        paras[para[0]] = para[1];
                    }
                }
                paras["sort_by"] = type;
                paras["reverse"] = order;

                location.href = urlPath + "?" + $.param(paras);
            }

            $('a.recycle').on('click', function (e) {
                e.preventDefault();

                var url = this.href;
                var $tr = $(this).parents('tr');

                $.post(url, function (data) {
                    if (parseInt(data) === 1) {
                        $tr.remove();
                    }
                });
            });
        })(jQuery)
    </script>
{% endblock %}
