{% extends "management_base.html" %}

{% block content %}
    <div class="container">
        <div>
            <form class="well form-horizontal" action="{% url 'management.views.new_entity' %}" method="POST">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="image_url">链接:</label>

                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="url" name="url" value=""/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="category_group">分类组:</label>

                        <div class="controls">
                            <select id="category_group" name="category_group">
                                <option selected value="all">全部</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="category_id">分类:</label>

                        <div class="controls">
                            <select id="category_id" name="category_id">
                            </select>
                        </div>
                    </div>
                </fieldset>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra %}
    <script type="text/javascript" src="{{ STATIC_URL }}management/js/category.js"></script>
{% endblock %}
