{% extends "base.html" %}
{% load i18n staticfiles %}
{% load web_common entity %}

{% block title %}
    {{ query_user_context.nickname|default:'我的果库' }}
    {% block subtitle %}{% endblock %}
{% endblock %}
{% block keyword %}果库,{{ query_user_context.nickname }}{% endblock %}
{% block description %}果库,{{ query_user_context.nickname }},{{ query_user_context.bio }}{% endblock %}

{#{% block css %}#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'styles/user.css' %}">#}
{#{% endblock %}#}

{% block content %}
    {% url 'web_user_likes' query_user_context.user_id as web_user_likes_url %}
    {% url 'web_user_notes' query_user_context.user_id as web_user_notes_url %}
    {% url 'web_user_tags' query_user_context.user_id as web_user_tags_url %}
    {% url 'web_user_fans' query_user_context.user_id as web_user_fans_url %}
    {% url 'web_user_followings' query_user_context.user_id as web_user_followings_url %}

    <div class="container">
        <div class="row">
            <div class="media" style="border: 1px solid #ccc; padding: 20px; margin: 0 15px 0 15px;">
                <a class="pull-left" href="#">
                    <img class="media-object img-responsive img-circle" src="{{ query_user_context.avatar_large }}" alt="{{ query_user_context.nickname }}" width="120" height="120" />
                </a>
                {% if relation == 4 %}
                    <a class="btn btn-default pull-right" href="{% url 'web_setting' %}"><i class="fa fa-cog fa-lg"></i>&nbsp; {% trans 'settings' %}</a>
                {% elif relation == 3 %}
                    <a class="btn btn-cancel pull-right"><i class="fa fa-exchange fa-lg" style="color: #fff"></i>&nbsp; 取消关注</a>
                {% elif relation == 1 %}
                    <a class="btn btn-cancel pull-right"><i class="fa fa-check fa-lg" style="color: #fff"></i>&nbsp; 取消光柱</a>
                {% elif relation == 2 %}
                    <a class="btn btn-primary pull-right"><i class="fa fa-plus" style="color: #fff"></i>&nbsp; 关注</a>
                {% elif relation == 0 %}
                    <a class="btn btn-primary pull-right"><i class="fa fa-plus" style="color: #fff"></i>&nbsp; 关注</a>
                {% endif %}

                <div class="media-body">
                    <h4 class="media-heading">{{ query_user_context.nickname }}</h4>
                    <p>{{ query_user_context.bio }}</p>
                    <address>{{ query_user_context.location }}  {{ query_user_context.city }}</address>
                </div>
            </div>

            <div class="navbar nav-user-index">
                <ul class="nav nav-pills pull-left" role="tablist">
                    <li role="presentation" {% if web_user_likes_url in request.path %}class="active"{% endif %}>
                        <a href="{{ web_user_likes_url }}">{% trans 'likes' %}&nbsp; <strong>{{ query_user_context.like_count }}</strong></a>
                    </li>
                    <li role="presentation" {% if web_user_notes_url in request.path %}class="active"{% endif %}>
                        <a href="{{ web_user_notes_url }}">{% trans 'notes' %}&nbsp; <strong>{{ query_user_context.entity_note_count }}</strong></a>
                    </li>
                    <li role="presentation" {% if web_user_tags_url in request.path %}class="active" {% endif %}>
                        <a href="{{ web_user_tags_url }}">{% trans 'tags' %}&nbsp; <strong>{{ query_user_context.tag_count }}</strong></a>
                    </li>
                </ul>
                <ul class="nav nav-pills pull-right hidden-xs" role="tablist">
                    <li role="presentation" {% if web_user_followings_url in request.path %}class="active"{% endif %}>
                        <a href="{{ web_user_followings_url }}">关注了&nbsp; <strong>{{ query_user_context.following_count }}</strong>人</a>
                    </li>
                    <li role="presentation" {% if web_user_fans_url in request.path %}class="active"{% endif %}>
                        <a href="{{ web_user_fans_url }}">关注者&nbsp; <strong>{{ query_user_context.fan_count }}</strong></a>
                    </li>
                </ul>
            </div>
        </div>

        {% if web_user_likes_url in request.path %}
            <div class="row">
                <ul class="nav nav-pills nav-home" role="tablist">
                    <li {% if curr_category_id == 0 %}role="presentation" class="disabled"{% endif %}><a href="{{ web_user_likes_url }}">所有</a></li>
                    {% for category in category_list %}
                        <li {% if category.category_id == curr_category_id %}role="presentation" class="disabled"{% endif %}>
                            <a href="{{ web_user_likes_url }}?c={{ category.category_id }}">{{ category.category_title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">

                {% for entity_context in entity_list %}
                    {% include "common/entity.html" with entity_context=entity_context %}
                {% endfor %}
            </div>
        {% endif %}

        {% if web_user_notes_url in request.path %}
            <div class="row">
                {% for note in note_list %}
                    {% include "common/entity.html" with entity_context=note.entity_context %}
                {% endfor %}
            </div>
        {% endif %}

        {% if web_user_tags_url in request.path %}
            <div class="row">
                {% for tag_context in tag_list %}
                    {% include "common/tag.html" with tag_context=tag_context user_id=query_user_context.user_id %}
                {% endfor %}
            </div>
        {% endif %}

        {% if web_user_followings_url in request.path %}
            <div class="row">
                {% for user_context in user_list %}
                    {% include "common/user.html" with user_context=user_context %}
                {% endfor %}
            </div>
        {% endif %}

        {% if web_user_fans_url in request.path %}
            <div class="row">
                {% for user_context in user_list %}
                    {% include "common/user.html" with user_context=user_context %}
                {% endfor %}
            </div>
        {% endif %}
{#        </div>#}

        {% if paginator %}
            {% include "common/web_paginator.html" with paginator=paginator %}
        {% endif %}
    </div>
{#    {% url 'web_user_likes' query_user_context.user_id as web_user_likes_url %}#}
{#    {% url 'web_user_notes' query_user_context.user_id as web_user_notes_url %}#}
{#    {% url 'web_user_tags'  query_user_context.user_id as web_user_tags_url %}#}
{##}
{#    <div id="user-center">#}
{#        <div class="base">#}
{#            <img src="{{ query_user_context.avatar_large }}" alt="{{ query_user_context.nickname }}" width="120" height="120">#}
{##}
{#            <div class="info">#}
{#                <span class="nickname">{{ query_user_context.nickname }}</span>#}
{#                <span class="bio">{{ query_user_context.bio }}</span>#}
{#                <address>{{ query_user_context.location }} {{ query_user_context.city }}</address>#}
{#            </div>#}
{#            {% if is_staff %}#}
{#                <a href="{% url 'management_edit_user' query_user_context.user_id %}" target=_blank>编</a>#}
{#            {% endif %}#}
{#            {% if relation == 4 %}#}
{#                <a class="setting" href="{% url 'web_setting' %}"><span class="setting-icon"></span><span class="setting-tip">{% trans "settings" %}</span></a>#}
{#            {% elif relation == 3 %}#}
{#                <a href="{% url 'web_follow' query_user_context.user_id 0 %}" class="follow-user is-fan gray-f"><span class="img_is_fun"></span><b>取消关注</b></a>#}
{#            {% elif relation == 1 %}#}
{#                <a href="{% url 'web_follow' query_user_context.user_id 0 %}" class="follow-user gray-f"><span class="img_not_fun"></span><b>取消关注</b></a>#}
{#            {% elif relation == 2 %}#}
{#                <a href="{% url 'web_follow' query_user_context.user_id 1 %}" class="follow-user is-fan blue-f"><span src="" class="img_follow"></span><b>关注</b></a>#}
{#            {% elif relation == 0 %}#}
{#                <a href="{% url 'web_follow' query_user_context.user_id 1 %}" class="follow-user blue-f"><span class="img_follow"></span><b>关注</b></a>#}
{#            {% endif %}#}
{#        </div>#}
{##}
{#        <div class="nav">#}
{##}
{#            <a href="{{ web_user_likes_url }}" {% if web_user_likes_url in request.path %}class="active"{% endif %}>{% trans 'likes' %}#}
{#                <strong>{{ query_user_context.like_count }}</strong>#}
{#            </a>#}
{#            <a href="{{ web_user_notes_url }}" {% if web_user_notes_url in request.path %}class="active"{% endif %}>{% trans 'notes' %}#}
{#                <strong>{{ query_user_context.entity_note_count }}</strong>#}
{#            </a>#}
{#            <a href="{{ web_user_tags_url }}" {% if web_user_tags_url in request.path %}class="active"{% endif %}>{% trans 'tags' %}#}
{#                <strong>{{ query_user_context.tag_count }}</strong>#}
{#            </a>#}
{##}
{#            <div class="social">#}
{#                {% url 'web_user_followings' query_user_context.user_id as web_user_followings_url %}#}
{#                <a href="{{ web_user_followings_url }}" {% if web_user_followings_url in request.path %}class="active"{% endif %}>关注了#}
{#                    <strong>{{ query_user_context.following_count }}</strong>人#}
{#                </a>#}
{#                {% url 'web_user_fans' query_user_context.user_id as web_user_fans_url %}#}
{#                <a href="{{ web_user_fans_url }}" {% if web_user_fans_url in request.path %}class="active"{% endif %}>关注者#}
{#                    <strong>{{ query_user_context.fan_count }}</strong>人#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        {% if web_user_likes_url in request.path %}#}
{#            <div class="user-like">#}
{#                <ul class="categories">#}
{#                    <li {% if category_id == None %}class="active"{% endif %}>#}
{#                        <a href="{{ web_user_likes_url }}">所有</a>#}
{#                    </li>#}
{#                    <span class="sep">|</span>#}
{#                    {% for category in category_list %}#}
{#                        <li {% if category.category_id == category_id %}class="active"{% endif %}>#}
{#                            <a href="{{ web_user_likes_url }}?c={{ category.category_id }}">{{ category.category_title }}</a>#}
{#                        </li>#}
{#                        {% if category_list|length > forloop.counter %}&sdot;{% endif %}#}
{#                    {% endfor %}#}
{#                </ul>#}
{##}
{#                {% if entity_list|length > 0 %}#}
{#                    <ul class="likes">#}
{#                        {% for entity_context in entity_list %}#}
{#                            {% display_common_entity entity_context %}#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#        {% elif content_tab == 'post' %}#}
{#            {% if entity_list|length > 0 %}#}
{#                <div class="user-post">#}
{#                    {% for entity_context in entity_list %}#}
{#                        {% display_common_entity entity_context %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}
{##}
{#        {% elif content_tab == 'note' %}#}
{#            {% if note_list|length > 0 %}#}
{#                <div class="user-note">#}
{#                    {% for note in note_list %}#}
{#                        {% display_common_note note %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}
{##}
{#        {% elif content_tab == 'tag' %}#}
{#            {% if tag_list|length > 0 %}#}
{#                <div class="user-tag">#}
{#                    {% for tag_context in tag_list %}#}
{#                        {% display_common_tag tag_context query_user_context.user_id %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}
{##}
{#        {% elif content_tab == 'following' %}#}
{#            {% if user_list|length > 0 %}#}
{#                <div class="user-user">#}
{#                    {% for user_context in user_list %}#}
{#                        {% display_common_user user_context %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}
{##}
{#        {% else %}#}
{#            {% if user_list|length > 0 %}#}
{#                <div class="user-user">#}
{#                    {% for user_context in user_list %}#}
{#                        {% display_common_user user_context %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}
{##}
{#        {% endif %}#}
{##}
{#        {% if paginator %}#}
{#            {% display_web_paginator paginator %}#}
{#        {% endif %}#}
{#    </div>#}
{% endblock %}
