<ul class="users guoku-block">
    {% for other_user_context in user_list %}
        <li>
            <a href="{% url 'web.views.user.user_index' other_user_context.user_id %}" class="avatar"><img src="{{ other_user_context.avatar_small }}" width="100" height="100"></a>
            <div>
                <span>{{ other_user_context.nickname }}</span>
                <p>{{ other_user_context.bio|truncatechars:12 }}</p>

                {% if other_user_context.is_user_followed %}
                    <a href="javascript:;" data-user="{{ other_user_context.user_id }}" class="follow-user">取消关注</a>
                {% else %}
                    <a href="javascript:;" data-user="{{ other_user_context.user_id }}" class="follow-user"><span></span> 关注</a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>