{% load management %}

<tr class="success">
    <td width="90">
        <a href="" target=_blank>
            <img class="img-polaroid" src="{{ candidate_context.note.figure }}" style="max-height:80px;max-width:80px;">
        </a>
    </td>
    <td width="100"><p class="text-info">{{ candidate_context.creator.nickname }}</p></td>
    <td width="50"><p class="text-info">{{ candidate_context.candidate.category_id }}</p></td>
    <td><p class="text-info">{{ candidate_context.candidate.category_text }}</p></td>
    <td><p class="text-info">{{ candidate_context.candidate.brand }}</p></td>
    <td><p class="text-info">{{ candidate_context.candidate.title }}</p></td>
    <td width="50">
        <div class="btn-group">
            <a class="btn" href="{% url 'management.views.edit_candidate' candidate_context.candidate.candidate_id %}">编</a>
        </div>
    </td>
</tr>
