{% load management %}

<tr class="success">
    <td width="90">
        <a href="" target=_blank>
            <img class="img-polaroid" src="{{ category_context.category_icon_large }}" style="max-height:80px;max-width:80px;">
        </a>
    </td>
    <td><p class="text-info">{{ category_context.group_id }}</p></td>
    <td><p class="text-info">{{ category_context.category_title }}</p></td>
    <td width="50">
        <div class="btn-group">
            <a class="btn" href="{% url 'management.views.edit_category' category_context.category_id %}">编</a>
        </div>
    </td>
</tr>
