{% extends 'management_base.html' %}

{% block content %}
    <div class="container">
        <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>文件名</th>
                    <th>已发布</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="table-hover ">
            {% for app in apps %}
                <tr>
                    <td>{{ app }}</td>
                    <td>{{ app.is_published }}</td>
                    <td>
                        <a class="btn" href="{{ app.get_url }}">下载</a>
                        <a class="btn btn-primary" href="#">发布</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}