{% extends "base.html" %}
{% load i18n staticfiles %}
{% load entity web_common %}

{% block title %}品类 － {{ category_id|trans_category }}{% endblock %}
{% block keyword %}{{ category_id|trans_category }}{% endblock %}
{#{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'styles/category.css' %}">{% endblock %}#}
{% block content %}
    <div class="container">
{#        <div class="row">#}
{##}
{#        <div>#}
        <div class="row">
            <div class="category-header">
                <p>{{ category_id|trans_category }}</p>
            </div>
            {% for entity in entity_list %}
                {% include 'common/entity.html' with entity_context=entity %}
{#            <div class="col-xs-6 col-sm-4">#}
{#                <div class="thumbnail">#}
{#                    <div class="img-box">#}
{#                    <a href="{% url 'web_detail' entity.entity_hash %}">#}
{#                        <img class="img-responsive" alt="{{ entity.title }}" src="{{ entity.chief_image.url|resize:'240' }}">#}
{#                    </a>#}
{#                    </div>#}
{#                    <div class="caption">#}
{#                        <div class="col-sm-6">#}
{#                        <a class="btn btn-like" href="#">#}
{#                            <i class="fa fa-heart-o"></i> {% trans 'likes' %} <span>{{ entity.like_count }}</span>#}
{#                        </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            {% endfor %}
        </div>
        {% if paginator %}
            {% include "common/web_paginator.html" with paginator=paginator %}
        {% endif %}
    </div>
{#    <div id="category">#}
{#        <div class="nav">#}
{#            <ul>#}
{#                <li>{{ category_id|trans_category }}</li>#}
{#            </ul>#}
{#        </div>#}
{##}
{#        <div class="category">#}
{#            <ul class="entities">#}
{#            {% spaceless %}#}
{#                {% for entity in entity_list %}#}
{#                    {% display_common_entity entity %}#}
{#                {% endfor %}#}
{#            {% endspaceless %}#}
{#            </ul>#}
{#        </div>#}
{#        {% if paginator %}#}
{#            {% display_web_paginator paginator %}#}
{#        {% endif %}#}
{#    </div>#}
{% endblock %}
