{% extends "base.html" %}
{% load i18n staticfiles %}
{% load entity web_common %}

{% block title %}品类 － {{ category_id|trans_category }}{% endblock %}
{% block keyword %}{{ category_id|trans_category }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="category-header">
                    <p>{{ category_id|trans_category }}</p>
                </div>
            </div>
            {% for entity in entity_list %}
                {% include 'common/entity.html' with entity_context=entity %}
            {% endfor %}
        </div>
        {% if paginator %}
            {% include "common/web_paginator.html" with paginator=paginator %}
        {% endif %}
    </div>
{% endblock %}
