{% extends 'new_management_base.html' %}
{% load i18n %}


{% block content %}

    <div class="row" style="margin-top: 40px;">
        <div class="col-sm-6">
            <div class="thumbnail">
                <img src="{{ event_banner.image_url }}">
            </div>
        </div>
    </div>

    {% if forms.errors %}
        <div class="row">
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                {% for k, v in forms.errors.items %}
                    <strong>{{ k }}</strong>
                    {{ v.as_text  }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if event_banner.has_show_banner %}
        <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <strong>{% trans 'note' %}!!!</strong>
                此 Banner 在顶部显示
        </div>
    {% endif %}

    <div class="row">
        <form class="well form-horizontal" method="post">
            {% csrf_token %}
            <fieldset>
{#                <div class="form-group">#}
{#                    <label class="col-sm-2 control-label">content-type:</label>#}
{#                    <div class="col-sm-10">#}
{#                        <p class="form-control-static">{{ banner.content_type }}</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="form-group">#}
{#                    <label class="col-sm-2 control-label">key:</label>#}
{#                    <div class="col-sm-10">#}
{#                        <p class="form-control-static">{{ banner.key }}</p>#}
{#                    </div>#}
{#                </div>#}

                {% for field in forms %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        <div class="col-sm-5">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'update' %}</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}