{% extends 'new_management_base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">

        <div class="row" style="margin-top: 20px;">
            <ul class="nav nav-pills" role="tablist">
                <li><a target="_blank" class="btn btn-primary" href="{% url 'management_event_create' %}">{% trans 'add' %}</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="table-responsive" style="margin: 20px 0 20px 0;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'tag' %}</th>
                            <th>{% trans 'slug' %}</th>
                            <th>{% trans 'status' %}</th>
                            <th>{% trans 'has banner' %}</th>
                            <th>{% trans 'has recommendation' %}</th>
                            <th>{% trans 'operation' %}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}