{% extends "management_base.html" %}
{% load common %}

{% block content %}
    <div class="container">
        {% if note_context.figure %}
            <img id="main-image" class="img-polaroid" src="{{ note_context.figure }}" alt="" style="max-width: 220px;max-height: 220px">
        {% endif %}
        <div>
            <form class="well form-horizontal" action="{% url 'note_edited' note_context.note_id %}" method="POST">
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <a href="http://www.guoku.com/detail/{{ entity_context.entity_hash }}/" target="_blank">
                                <img id="main-image" class="img-polaroid" src="{{ entity_context.chief_image.url }}" alt="" style="max-width: 300px">
                            </a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="entity_id" style="padding-top: 0">entity_id:</label>
                        <div class="controls">
                            <input class="input-xxlarge" type="text" id="entity_id" name="entity_id" value="{{ entity_context.entity_id }}" disabled/>
                            <a href="{% url 'entity_edited' entity_context.entity_id %}" target="_blank">
                                去看看 > 
                            </a>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="entity_id" style="padding-top: 0">creator: </label>

                        <div class="controls">
                            <a href="{% url 'user_edited' creator.user_id %}">
                                <span style="margin-right: 10px">{{ creator.nickname }}</span></a>
                            <a href="{% url 'user_edited' creator.user_id %}">
                                <img class="img-polaroid" src="{{ creator.avatar_large }}" alt="" style="max-width: 100px;max-height: 100px;vertical-align: top">
                            </a>

                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="note_id" style="padding-top: 0">note_id:</label>
                        <div class="controls">{{ note_context.note_id }}</div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="note">note:</label>
                        <div class="controls">
                            <textarea class="input-xxlarge" style="height:120px" type="text" id="note" name="note" >{{ note_context.content }}</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="weight">状态:</label>
                        <div class="controls">
                            <input class="input-xlarge" type="text" id="weight" name="weight" value="{{ note_context.weight }}" />
                            <span class="help-inline">小于0表示冻结</span>
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">更新</button>
                    {% if note_context.selector_id == None %}
                        {% if note_context.weight < 0 %}
                            该点评处于冻结状态不能发精选 
                        {% else %}
                            <a class="btn btn-success btn-small" href="{% url 'post_selection_instant' entity_context.entity_id note_context.note_id %}">精选-即时发布</a>
                            <a class="btn btn-success btn-small" href="{% url 'post_selection_delay' entity_context.entity_id note_context.note_id %}">精选-延迟发布</a>
                        {% endif %}
                    {% endif %}
                </div>
            </form>
            {% if note_context.selector_id != None %}
                <form class="well form-horizontal" action="{% url 'update_note_selection_info' entity_context.entity_id note_context.note_id %}" method="POST">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="post_time">精选发布时间:</label>
                            <div class="controls vDateClass" id="pub-time">
                                <input type="text" id="post_time" name="post_time" value="{{ note_context.post_time|date_format }}" />
                                <button class="btn btn-primary" type="button">现在</button>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">更新</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra %}
    <script>
        (function ($) {
            $("#pub-time button").click(function () {
                var date = new Date();
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var day = date.getDate();
                var hour = date.getHours();
                var minute = date.getMinutes();
                var second = date.getSeconds();

                var date_str = year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second;
                $("#pub-time input").val(date_str);
            });
        })(jQuery)
    </script>
{% endblock %}

