body {
    color: #999;
    background-color: #faf9f6;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-input {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border linear .2s, box-shadow linear .2s;
}

.text-input:focus {
    border-color: rgba(153, 153, 153, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(51, 51, 51, .1);
    outline: 0;
}

#header {
    position: fixed;
    top: 0;
    height: 49px;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    background-color: #fff;
}

#header .header-container {
    width: 960px;
    margin: 0 auto;
    line-height: 49px;
}

#header img {
    padding-top: 8px;
}

#header ul {
    display: inline-block;
    margin: 0 0 0 60px;
    padding-left: 0;
    vertical-align: top;
}

#header li {
    display: inline;
    margin-right: 36px;
}

#header form {
    display: inline-block;
    vertical-align: top;
    width: 230px;
}

#header form .search {
    width: 170px;
    vertical-align: middle;
    padding: 7px 40px 7px 4px;
    color: #bbb;
}

#header form .submit {
    padding: 6px 0;
    width: 36px;
    border: none;
    border-left: 1px solid #dcdcdc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -41px;
    vertical-align: middle;
    background: url(/static/web/images/header_icon.png) no-repeat -6px -10px #fff;
}

/*-----------------------------------------*/
#main {
    min-height: 900px;
    width: 960px;
    margin: 90px auto 30px;
}

/*--------------------------------------------*/
#footer {
    padding: 15px 0;
    border-top: 1px solid #dedede;
    font-size: 12px;
}

#footer .container {
    width: 960px;
    margin: 0 auto;
}

#footer .site-info {
    float: right;
}

#footer .site-info a, #footer .site-info span {
    margin-left: 10px;
}

/**note--------------------------------------------*/
.note-item {
    padding: 15px;
    border-top: 1px solid #f3f3f3;
    color: #666;
}

.note-item .avatar {
    float: left;
    margin-right: 10px;
}

.note-item .note-detail {
    overflow: hidden;
}

.note-item .note-detail p {
    margin: 10px 0 15px;
}

.note-item .note-detail .create-time {
    float: right;
    font-size: 12px;
    color: #bbb;
}

.note-item .note-detail .poke {
    color: #bbb;
    margin-right: 9px;
}

.note-item .note-detail .add-comment {
    color: #bbb;
    padding-left: 10px;
    border-left: 1px dotted #ccc;
}

.note-item .note-comment {
    padding: 9px;
    border: 1px solid #dedede;
    border-radius: 2px;
    background-color: #f8f8f8;
}

.note-item .note-comment-item {
    border-bottom: 1px solid #dedede;
}

/*-----------------------------------------------------*/
.guoku-block {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}