{% load web_common %}

{% spaceless %}
    <div class="note-item">
        <a href="{% url 'web.views.user.user_index' creator_context.user_id %}" class="avatar" target="_blank">
            <img src="{{ creator_context.avatar_small }}" width="50" height="50">
        </a>

        <div class="note-detail">
            <a class="nickname" href="{% url 'web.views.user.user_index' creator_context.user_id %}" target="_blank">
                {{ creator_context.nickname }}
            </a>
            {% if creator_context.bio %}
                <small class="bio">{{ creator_context.bio }}</small>
            {% endif %}
            <p class="with-tag note-content">{{ note_context.content }}</p>

            <div class="note-operate">
                {# 判断是否当前用户发的点评，如果是则允许修改 #}
                {% if user_context.user_id == creator_context.user_id %}
                    <form class="clearfix update-note-form"
                          action="{% url 'web.views.entity.update_note' note_context.entity_id note_context.note_id %}"
                          method="POST">
                	{% csrf_token %}
                        <textarea name="note_text" rows="4">{{ note_context.content }}</textarea>
                        <div>
                            <button type="button" class="cancel">取消</button>
                            <button type="submit" class="update">修改</button>
                        </div>
                    </form>
                {% endif %}
                
                <a href="javascript:;" class="poke{%if poke_button_target_status == '0'%} poked {% endif %}" data-note="{{ note_context.note_id }}" data-target-status="{{ poke_button_target_status }}"><span></span>
                    {% if note_context.poke_count > 0 %}
                       {{ note_context.poke_count }}
                    {% endif %}
                </a>
                <a href="javascript:;" class="add-comment" data-note="{{ note_context.note_id }}"><span></span>
                    {% if note_context.comment_count > 0 %}
                        {{ note_context.comment_count }
                    {% endif %}
                </a>

                <span class="create-time">{{ note_context.created_time|format_time }}</span>
                {% if note_context.is_selected %}
                    <span class="selection-icon"></span>
                {% endif %}
                {% if user_context.user_id == creator_context.user_id %}
                    <a href="javascript:;" class="update-note">修改</a>
                    <span class="my-note">你的点评</span>
                {% endif %}
                {% if is_staff %}
                    <span class="my-note"><a href="{% url 'management_edit_note' note_context.note_id %}" target=_blank>编</a></span>
                {% endif %}
            </div>
        </div>
    </div>
{% endspaceless %}
