{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}添加商品 － 果库{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <h3 class="col-sm-12">添加商品入库</h3>

            <div class="col-sm-8">

                <div class="well create-entity" style="border-radius: 0;margin-bottom: 0;">
                    <p>选择货真价实，有用、有趣、有价值的好商品</p>
                    <form class="form-horizontal" method="post" action="{% url 'web_load_item_info' %}">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-xs-8 col-sm-8">
                                    <input type="text" class="form-control" name="cand_url" placeholder="粘贴商品链接到这里" value="{{ cand_url }}">
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-plus fa-lg"></i>&nbsp; 载入</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="row entity-exist">
                        <label class="col-sm-3">该商品已经存在</label>
                        <a class="btn btn-primary" href="#" target="_blank"><i class="fa fa-link fa-lg"></i>&nbsp; 查看</a>
                    </div>
                    <div class="row add-entity">
                        <div class="col-sm-4">
                            <label>品牌</label>
                            <input class="form-control" type="text" name="brand" placeholder="如果有">
                        </div>
                        <div class="col-sm-8">
                            <label>商品名称</label>
                            <input class="form-control" type="text" name="title" />
                        </div>

                        <h4 class="col-sm-12"><span class="brand"></span><span class="title"></span></h4>
                        <div class="col-sm-12">
                            <div class="thumbnail">
                                <img class="img-responsive entity-chief-img" src="">
                            </div>
                        </div>
                        <div class="image-thumbnails"></div>
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                <div class="media add-entity-note">
                    <a class="pull-left" href="#" style="padding: 20px 0 0 20px; margin: 0;"><img class="img-circle media-object" width="60" height="60" src=""></a>
                    <div class="media-body">
{#                        <h4 class="media-heading"></h4>#}
                        <form class="form-horizontal" action="{% url 'web_new_entity'%}" method="POST" style="padding-top: 20px;">
                            <fieldset>
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-10">
                                    <textarea class="form-control" name="note_text" style="resize: none;" rows="4" placeholder="来说说你的评价吧？欢迎真实、有用、有趣的商品点评。"></textarea>
                                </div>
                            </div>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-sm-offset-9 col-sm-3">
                                <button class="btn btn-primary" type="submit">发表</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>

            {# slidebar #}
            <div class="hidden-xs col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="border:none;">
                        <h4>果库全是好商品</h4>
                    </div>
                    <div class="panel-body">
                        <p>如果，一件商品，<br />
                    你愿意让家人使用或与朋友分享，也许这就应该是件不错的东西。</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="border:none;">
                        <h4>创建人信息</h4>
                    </div>
                    <div class="panel-body">
                        <p>作为第一个把商品推荐到果库的人，你将被永久记录在商品页。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
